@charset "utf-8";

/*--global--*/
body{ text-align:center; padding:0px; margin:0px auto; overflow:hidden;}
ul,form{margin:0px;padding:0px;}
ul{ list-style:none;}
td{ font-size:16px; font-family:"Microsoft Yahei";}
img {border:none;}
.clearleft{clear:left;}
.cleardiv{ clear:both;}

/*--link--*/
a{ text-decoration:none;}
A:link { text-decoration:underline; color:#000;}
A:hover{ text-decoration:underline; color:#000;}
A:visited{ text-decoration:none; color:#000;}
A:active{ text-decoration:none; color:#000;}

.timeCss{ background:url(../images/time.gif) left center no-repeat; height:39px; line-height:39px; text-align:left; }
.timeCss img{ float:left;}
.zttable td{ padding:4px;}

.bordermessage{}
.bordermessage ul{ width:232px; height:100px; background:url(../../images/border.png) left center no-repeat; float:left; padding:10px 0px; margin:5px 0px;}
.bordermessage ul.onhover{ width:232px; height:100px; background:url(../../images/borderOn.png) left center no-repeat; float:left; padding:10px 0px; margin:5px 0px;}
.bordermessage ul li{ text-align:center; padding:4px;}
.font18px{ font-size:18px; font-weight:bold; padding:0px;}
.tableborder{border-collapse:collapse;}
.tableborder td{ padding:5px; text-align:center;}
.tableborder td.font18px{ font-size:18px; font-weight:bold; padding:12px 0px 5px 0px;}

.tbtable{ border-collapse:collapse;}
.tbtable td{ padding:10px 0px; text-align:left;}
.tableborder td.font24px{ border-bottom:2px solid #1298ec; font-size:24px; height:45px; line-height:45px; padding-top:40px;}
.tableborder td.btnCss{ text-align:right;}
.orgfont{ color:#ee4910; font-size:18px; text-align:left; height:50px; line-height:50px;}
.orgfont28{ color:#ee4910; font-size:28px; text-align:left; padding:30px 0px 55px 0px;}
.tableList{ border-collapse:collapse;}
.tableList th{ background:url(../images/th.gif) left center repeat-x; border:1px solid #aed6eb; height:42px; line-height:42px; font-size:14px; padding:0px 3px;}
.tableList td{ border:1px solid #aed6eb; height:38px; line-height:38px; font-size:14px; padding:0px 3px;}
.tableList th.leftTd,.tableList td.leftTd{ text-align:left;}
.tableList th.tdStart,.tableList td.tdStart{ border-left:none;}
.tableList th.tdEnd,.tableList td.tdEnd{ border-right:none;}

.momeyBorder{ background:url(../images/write.png) left center no-repeat; width:833px; height:404px; margin:0px auto; text-align:center;}