<?xml version="1.0" encoding="UTF-8"?>
<rows>
	#foreach($user in $userList)
	<row id="$user.get("id");$user.get("deptid")">
		<cell type="ch"></cell>
		
		<cell >$!user.get("deptname")</cell>
		
 		<cell >$!user.get("job_no")</cell> 	
 		
 		<cell >$!user.get("name")</cell> 
 		
 		<cell >$!user.get("sex")</cell> 
 		
 		<cell >$!user.get("idcard")</cell> 
 		
 		<cell >$!user.get("phone")</cell>
 		
	</row>
	#end
</rows>