body { font-size:13px; font-family:"Î¢ÈíÑÅºÚ"; color:#000;}
*{ margin:0 auto;}
img{ border:0px;}
ul{ margin:0px; padding:0px; list-style:none;}
hr{ border:1px solid #a6bdc6; width:360px; height:1px;}

.anniu{ color:#000; text-decoration:none; display:block; width:92px; height:32px;}/*change*/
.anniu:hover{ background:url(../../img/sampling02/images/btn1.jpg);}/*change*/

.anniu1{ color:#fff; text-decoration:none;}/*change*/
.anniu1:hover{ text-decoration:underline;}/*change*/


.floatl{ float:left; display:inline;}
.floatr{ float:right; display:inline;}
.clear{ clear:both;}

.xx{ list-style:none; height:32px;}
.xx li{ width:104px; height:32px; float:right; line-height:32px; text-align:center; color:#6ba3b6; font-weight:bold;}
.li1{ background:url(../../img/sampling02/images/xx3.gif) no-repeat;}
.li2{ background:url(../../img/sampling02/images/xx2.gif) no-repeat;}
.li3{ background:url(../../img/sampling02/images/xx1.gif) no-repeat;}
.xxhover{ font-size:15px; background:url(../../img/sampling02/images/xxhover.gif) no-repeat; color:#075f7e; display:block; width:104px; height:32px;}

.top{ width:100%; height:90px; background-color:#8eafbb;}
.topl{ width:1000px; height:90px;}
.top2{ width:600px;height:90px;}
.top3{ height:30px; text-align:right; color:#fff;}
.top4{ height:28px; background:url(../../img/sampling02/images/top3.jpg) no-repeat 20px 0px;}
.top5{ width:135px; height:26px; line-height:26px; background:none; border:0px;}
.top6{ text-align:right; height:32px;}

.middle{ width:1000px; padding:10px 0px; }
.middle1{ height:26px; line-height:26px; background:url(../../img/sampling02/images/gh_img1.jpg) no-repeat; text-align:right; padding-right:27px; color:#44839a; padding-left:33px; font-weight:bold; }
.middle2{ width:998px; border:1px solid #93afba; border-bottom:none; border-top:none; padding:5px 0px;}
.middle3{ height:4px;}
.middle4{ height:32px; padding:10px 0px 5px 0px; text-align:right;}
.middle4 ul{ list-style:none;}
.middle4 ul li{ width:92px; height:32px; background:url(../../img/sampling02/images/btn.jpg) no-repeat; text-align:center; line-height:32px; font-size:14px; margin-left:5px; float:right; display:inline;}
.middle5,.middle6,.middle8{ height:225px;*height:240px;}
.middle6{ width:605px;}
.middle7{ width:603px;}
.middle8{ width:385px;}
.middle9{ width:383px;}
.middle10{width:100%; height:70px; background-color:#8eafbb; color:#fff;}

.mar1{ margin-left:15px;}
.mar2{ margin-left:50px;}
.mar3{ margin-top:10px;}
.mar4{ margin-left:10px;}

.font1{ font-weight:bold; padding:0px 5px; background-color:#fff; line-height:24px;}
.font2 {color:#f00;}
.font3{ color:#44839a; font-weight:bold; background:#fff; padding:0px 5px;}
.font4{ color:#9c9c9c;}

.txt{ width:200px;}
.txt1{ width:50px;}
.txt2{ width:400px;}
.txt3{ width:70px;}

.bgr{ background:url(../../img/sampling02/images/bt2.jpg) repeat-x;}
.bgr1{ background:url(../../img/sampling02/images/tp2.jpg) repeat-x 0px 3px;}

.bord{border:1px solid #93afba; border-bottom:none; border-top:none; padding:5px 0px; margin-top:-3px;}


/*room*/
.xx1{ list-style:none; height:32px; padding-top:5px;}
.xx1 li{ width:104px; height:32px; float:left; line-height:32px; text-align:center; color:#6ba3b6; font-weight:bold;}
.li11{ background:url(../../img/sampling02/images/xx11.gif) no-repeat;}
.li22{ background:url(../../img/sampling02/images/xx22.gif) no-repeat;}
.li33{ background:url(../../img/sampling02/images/xx33.gif) no-repeat;}

.room{ width:1000px; padding-bottom:15px;}
.room1{ width:1000px; height:44px; background:url(../../img/sampling02/images/room.gif) no-repeat 0px 36px;}
.room2{ width:978px;  border:1px solid #93afba; border-bottom:none; border-top:none; padding:0px 10px; }
.room3{ height:300px;}
.room4{ width:227px; height:300px;}
.room5{ width:225px; height:268px;}
.room6{ width:465px; height:290px; padding-top:10px;}
.room7{ width:264px; height:300px;}
.room8{ width:262px; height:268px;}
.room8 ul{ padding-left:10px;}
.room8 ul li{ width:80px; height:27px;*height:22px; float:left; display:inline;}
.room9{ height:42px; margin:10px 0px; background:url(../../img/sampling02/images/ant.gif) no-repeat; padding-top:10px;}
.room10{ width:978px; height:594px; padding-bottom:10px;}
.room11{ width:67px; height:594px; text-align:left;}
.room12{ width:625px; height:594px; background:url(../../img/sampling02/images/cfj.gif) no-repeat;}
.room13{ width:469px; height:579px; padding-top:15px;}
.room14{ width:275px; height:594px;}
.room15{ width:273px; height:260px;}
.room16{ width:253px; height:30px; text-align:right; border-bottom:1px solid #98b3be;}


.press{ width:92px; height:32px; line-height:32px; text-align:center; background:url(../../img/sampling02/images/btn.jpg) no-repeat;}
.bodbot{ border-bottom:1px solid #000;}
.height2{ width:4px; height:52px;}

.mar5{ margin-top:5px;*margin-top:3px;}
.mar6{ margin-left:10px;_margin-left:5px;}
.mar7{ margin-right:12px;}

.lineh{ line-height:22px;}
.ant li{ width:92px; height:32px; background:url(../../img/sampling02/images/btn.gif) no-repeat; float:left; display:inline; text-align:center; line-height:32px; margin-left:5px; font-family:"Î¢ÈíÑÅºÚ"}
.list1{ background:url(../../img/sampling02/images/icon4.gif) no-repeat left 9px; padding-left:10px;}
.list2{ background:url(../../img/sampling02/images/icon1.gif) no-repeat left 5px; padding-left:25px;}
.list3{ background:url(../../img/sampling02/images/icon2.gif) no-repeat left 5px; padding-left:25px;}

.yao li{ width:67px; height:57px;}
.yaohover{ display:block; width:55px; height:52px; padding-left:12px; padding-top:5px; text-decoration:none; color:#588fa2; font-weight:bold;background:url(../../img/sampling02/images/yao.gif) no-repeat; }
.yaohover:hover{ background:url(../../img/sampling02/images/yaohover.gif) no-repeat;}

.more{ color:#000; text-decoration:none}
.more:hover{ text-decoration:underline;}

h3{ font-family:"³¤³ÇÐÐ¿¬Ìå"; font-size:30px; font-weight:normal;}
.hr1{ width:439px; border:1px solid #000;  height:2px;}

.room_txt{ width:382px; height:55px;}
.room_txt1{ width:210px; height:20px;}
.room_txt2{ width:160px; background:none; border:none; border-bottom:1px solid #000;}
.room_txt3{ width:70px; background:none; border:none; border-bottom:1px solid #000;}
.room_txt4{ width:210px; background:none; border:none; border-bottom:1px solid #000;}
.room_txt5{ width:20px; background:none; border:none; border-bottom:1px solid #000;}
.room_txt6{ width:409px; height:290px; background:none; border:0px; line-height:25px; overflow:auto;}
.room_txt7{ width:150px; background:none; border:none; border-bottom:1px solid #000;}

.kah1{ background-color:#fff; border:1px solid #99b4bf; padding:0px 5px;}


/*advice*/
.marb{ margin-bottom:5px;}

.advice{ width:978px; height:275px; padding-bottom:10px;}
.advice1{ width:956px; height:245px; text-align:left; padding:0px 10px;}
.advice2{ width:956px; height:190px; }
.advice3{ width:956px; text-align:right; height:25px; line-height:25px;}

.advice_txt{width:35px; background:none; border:none; border-bottom:1px solid #000; color:#f00; text-align:center;}

.wdth{ width:50px;}
.font5{ font-size:16px;}

/*1280advice*/
.top_adv{ width:100%;height:90px; background-color:#8eafbb; min-width:1241px;}
.advroom{ width:1221px; padding:10px;}
.advtopl{ width:1221px; height:90px;}
.1280top2{ width:600px;height:90px;}
.1280room2{ width:1221px; overflow:hidden;}
.advroom5{ width:225px; height:225px; margin-top:-5px;}
.advroom4{ width:227px; height:260px;}
.1280room3{ height:260px; overflow:hidden;}
.txt1280{ width:550px; height:42px;}
.adv1280{ width:645px; height:245px; padding-top:10px;}
.txt11280{ width:360px; height:20px;}
.advroom7{ width:325px; height:230px;}
.advroom8{ width:323px; height:230px;}
.advroom8 ul{ width:310px; height:235px;}
.advroom8 ul li{ width:73px; height:26px; float:left; display:inline;}
.advmiddle10{width:100%; height:70px; background-color:#8eafbb; color:#fff;min-width:1241px;}
.advmar4{ margin-left:14px;}

.adv_advice{ width:1221px; height:275px; padding-bottom:10px; text-align:left;}
.adv_advice1{ width:1199px; height:265px; text-align:left; padding:0px 10px;}
.adv_advice2{ width:1188px; height:235px; }