<?xml version="1.0" encoding="UTF-8"?>
<rows>
	#foreach($dept in $depts)
	<row id="$dept.get("hosnum");$dept.get("deptcode")">
		<cell type="ch"></cell>
		
 		<cell >$!dept.get("deptname")</cell> 	
 		
 		<cell >$!dept.get("clinicaltype")</cell> 
 		
 		<cell >$!dept.get("depttype")</cell> 
 		
 		<cell >$!dept.get("location")</cell> 
 		
 		<cell >$!dept.get("isleaf")</cell>
	</row>
	#end
</rows>