<?xml version="1.0" encoding="UTF-8"?>
<rows>
	#foreach($hospital in $hospitals)
	<row id="$hospital.get("hosnum");$hospital.get("nodecode")">
		<cell type="ch"></cell>

 		<cell>$!hospital.get("nodecode")</cell>
 		
 		<cell>$!hospital.get("hosname")</cell> 	
 		
 		<cell>$!hospital.get("hosdname")</cell> 	
 		
 		<cell>$!hospital.get("degreelname")</cell> 
	</row>
	#end
</rows>