<?xml version="1.0" encoding="UTF-8"?>
<rows>
	#set($num = -1)
	#foreach($s in $showList)
	#set($num = $num +1)
	<row id="$!s.get("itemcode")" >
		<cell>$num</cell>
 		<cell>$!s.get("itemname")</cell> 
		<cell>$!s.get("excdeptname")</cell>
		<cell>未完成</cell>
		<cell>/</cell>
	</row>
	#end
</rows>