<?xml version="1.0" encoding="UTF-8"?>
<rows>
	#foreach($p in $Patientlist)
	<row id="$!p.pexamid" >
		<cell >$!p.no</cell>
 		<cell>$!p.examid</cell> 	
 		<cell>$!p.patname</cell> 
 		<cell>$!p.sex</cell> 	
 		#if($p.dateofbirth!="")
 		<cell>$date.format('yyyy-MM-dd',$p.dateofbirth)</cell>
 		#else
		<cell></cell>
		#end
		<cell>$!p.age</cell> 
 		<cell>$!p.idtype</cell> 
 		<cell>$!p.idnum</cell>
 		<cell>$!p.ybbh</cell> 
 		<cell>$!p.professional</cell>
		<cell>$!p.maritalstatus</cell>
		<cell>$!p.pexamid</cell>
	</row>
	#end
</rows>