<?xml version="1.0" encoding="UTF-8"?>
<rows>
	#foreach($show in $showList)
	<row id="$show.get("comid")">
		<cell type="ch"></cell>
		
		<cell >$!show.get("comid")</cell>
		
		<cell >$!show.get("comname")</cell>
		
		<cell >$!show.get("memo")</cell>
		
		<cell >$!show.get("comclass")</cell>
		
		<cell >$!show.get("excdeptname")</cell>
		
		<cell >$!show.get("forsex")</cell>
		
		<cell >$!show.get("cost")</cell>
		<cell >$!show.get("sn")</cell>
		
	</row>
	#end
</rows>