.middle4 {
	height: 32px;
	padding: 10px 0px 5px 0px;
	text-align: right;
}

.middle4 ul {
	list-style: none;
}

.middle4 ul li {
	width: 64px;
	height: 27px;
	text-align: center;
	line-height: 26px;
	background: url(../img/ss.gif) no-repeat left 1px;
	border: 0 none;
	margin-right: 8px;
}

.radioDiv {
	border: 1px solid red;
	width: 142px;
	margin-left: 4px;
}

.radioDivRead {
	border: 1px solid #93AFBA;
	background-color: #eaeaea;
	width: 142px;
	margin-left: 4px;
}

.radioDivNo {
	border: 0px;
	width: 142px;
	margin-left: 4px;
}

#patient_info_tb .tit {
	text-align: right;
}

#patient_info_tb .val {
	text-align: left;
}

.show_select_input1{
	margin-left: 4px;
	border: 1px solid #93AFBA;
	line-height: 17px;
	width: 98px; 
	margin-top: 4px;
	float: left;
}

.show_select_input3{
	margin-left: 4px;
	border: 1px solid #93AFBA;
	line-height: 17px;
	width: 592px; 
	margin-top: 4px;
	float: left;
}

.show_select_tree{
	height: 21px;
	width: 39px;
	background: url("../img/xz.gif"); 
	cursor: pointer; 
	vertical-align: middle; 
	margin-top: 4px;
	margin-left: 3px;
	float: left;
}