@charset "utf-8";
.dzbl_1{ width:1200px; height:616px; border:1px solid #b6cfd6; padding:1px; margin:0 auto; overflow:hidden;} 
.dzbl_2{ width:1184px; height:600px; background-color:#d9eaee; padding:8px;}
.dzbl_3{ width:1184; height:20px; margin:0 auto; padding-bottom:5px;}
.dzbl_3 span{ font-size:13px; color:#6ba3b6; font-family:"微软雅黑"; font-weight:bold;}
.dzbl_4{ width:1198px; height:560px; background-color:#fff; padding:10px;font-size:13px;font-family:"微软雅黑"; line-height:22px;}
.dzbl_5{ width:226px; height:46px; background:url(../img/dzbl.jpg) no-repeat; line-height:40px; padding-left:50px;}
.dzbl_7{ width:910px; padding-left:10px;}
.dzbl_8{ text-align:right;  height:40px;}
.dzbl_8 ul li{ float:right; display:inline;cursor:pointer;}
.dszl_10{ width:100%;  background-color:#e5e5e5;  height:647px; overflow-y:scroll; text-align:center; padding-top:20px;}
.dszl_11{ width:770px; border:1px solid #000; min-height:1090px; background-color:#fff;}
.luru_1{ width:276px;}
.dzbl_6{ width:258px; height:442px; padding:8px;}
.dzbl_a:link,.dzbl_a:visited{ color:#44839a; font-weight:bold; text-decoration:underline;}
.dzbl_a:hover{ color:#000;}
.exm_bg{ background:url(../img/exm2.gif) repeat-x;}
.STYLE2 {font-size: 12px;}
.exm_txt{ width:80px; background:none; border:none; border-bottom:1px solid #000;font-family:"微软雅黑";}
.exm_txt1{ width:35px; background:none; border:none; border-bottom:1px solid #000; font-family:"微软雅黑";}
.exm_txt2{font-family:"微软雅黑"; width:474px; height:140px; background:none; border:none; overflow:auto;}
.exm_txt3{ width:150px; height:30px; background:none; border:none; font-family:"微软雅黑"; overflow:auto;}
.exm_txt4{ width:390px; height:50px; background:none; border:none; font-family:"微软雅黑"; overflow:auto;}
.exm_txt5{ width:200px; height:30px; background:none; border:none; font-family:"微软雅黑"; overflow:auto;}
.exm_bot{ height:32px; padding:5px 0px; text-align:center;}
.exm_bot ul{ width:490px; margin:0 auto;}
.exm_txt21 {font-family:"微软雅黑"; width:474px; height:150px; background:none; border:none; overflow:auto;}
.breakwordstyle{word-break:break-all;}
.buttoul li{float:left; display:inline; text-align:center; line-height:32px;}
.buttoul li button{cursor:pointer;}
.btn01{
	width:64px;
	height:26px;
	background:url(../img/ss.gif) no-repeat;
	border:0px;
	font-size:13px;
	color:#6ba3b6;
	font-family:微软雅黑;
	font-weight:bold;
	cursor:pointer;
}
.scrollbar{
	scrollbar-face-color: #E3EBF8;
	scrollbar-shadow-color: #c6d8f0;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #E3EBF8;
	scrollbar-darkshadow-color:#d8e4f3;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #9bb8de;
}
.dhx_tabbar_zone_dhx_skyblue .dhx_tabbar_lineA{
	display:none;
}
.dhx_tabbar_zone_dhx_skyblue .dhx_tabbar_lineB{
	display:none; 
}
#rMenu {position:absolute; display:none; top:0; padding:1px; border:1px solid #B8CBCB; background-color:#fff; -moz-box-shadow:2px 2px 5px #666; -webkit-box-shadow:2px 2px 5px #666; box-shadow:2px 2px 5px #666;z-index:110;}
#rMenu ul li{
	width:45px;
	margin: 0px;
	padding: 0px;
	height:25px; 
	line-height:25px;
	text-align:center;
	list-style: none outside none;
	border-bottom:1px solid #ccc;
	cursor: pointer;
}
#rMenu ul li a{ width:45px;height:25px; display:block;}
#rMenu ul li a:hover{color:#6BA5B5;background-color: #D9EAEE;}
#rMenu ul li a.disable{color: #DDD;cursor:default;}
#rMenu ul li a.disable:hover{color: #DDD; background-color:#FFF;}
.do_select{
	height: 21px;
	width: 39px;
	background: url("../img/xz.gif"); 
	cursor: pointer; 
	vertical-align: middle; 
	margin-top: 2px;
	margin-left: 3px;
	float: left;
}
div.gridbox_dhx_custom table.hdr td{
	font-family:微软雅黑;
	font-size:12px;
	font-weight: bold;
	vertical-align:top;
}
div.gridbox_dhx_custom table.obj.row20px tr.rowselected td{
	background-repeat:repeat-x;
	background-position:0px 0px;	
	background-image:url(../imgs/grid_rowselected.png);
	background-color:#ffe3a8;
}
.show_select_tree{
	height: 21px;
	width: 39px;
	background: url("../img/xz.gif"); 
	cursor: pointer; 
	vertical-align: middle; 
	margin-left: 3px;
	float: left;
}
.float_left{ float:left; display:inline;}
.scrollbardiv{	
	scrollbar-face-color: #E3EBF8;
	scrollbar-shadow-color: #c6d8f0;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #E3EBF8;
	scrollbar-darkshadow-color:#d8e4f3;
	scrollbar-track-color: #F6FBFD;
	scrollbar-arrow-color: #9bb8de;
}
.scrollbartxt{	
	scrollbar-face-color: #E3EBF8;
	scrollbar-shadow-color: #c6d8f0;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #E3EBF8;
	scrollbar-darkshadow-color:#d8e4f3;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #9bb8de;
}
.rich_editor_div {
    border: 0 none;
    display: block;
    height: 100%;
    margin: 0;
    outline: 0 none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    width: 100%;
    word-wrap: break-word;
    line-height:26px;
    text-align:justify;
    text-justify:inter-ideograph;
}
.rich_editor_div p{
	margin:0px;
}
.rich_editor_div table.noBorderTable td {
    border: 1px dashed #DDDDDD !important;
}
.selectTdClass {
    background-color: #3399FF !important;
}
.rich_editor_div table {
    border-collapse: collapse;
    clear: both;
    margin-bottom: 10px;
    box-shadow: none !important;
	background: none !important;
	margin: 0 !important;
    word-break: break-all;
}
/*.rich_editor_div * {
    color: inherit !important;
    float: none;
    font: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
    position: static;
    text-decoration: inherit !important;
}*/
.rich_editor_div img.alignright {float:right; margin:0 0 10px 10px}
.rich_editor_div img.alignleft {float:left; margin:0 10px 10px 0}
.rich_editor_div img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.rich_editor_div img.alignnone {float:none; margin:0}
.rich_editor_div div,
.rich_editor_div p,
.rich_editor_div ul,
.rich_editor_div ol,
.rich_editor_div dl,
.rich_editor_div blockquote,
.rich_editor_div pre {
	box-shadow: none !important;
	background: none !important;
	margin: 0 !important;
	border: none;	
}
.rich_editor_div table.emrinserttable tr{
    height:27px !important;
}
.rich_editor_div blockquote {
	margin-left: 2em !important;
}
.rich_editor_div ul, 
.rich_editor_div ol {
	padding-left: 2em !important;	
}
.rich_editor_div ul ul, 
.rich_editor_div ol ol, 
.rich_editor_div ul ol, 
.rich_editor_div ol ul {
	border: none;
	margin: 2px !important;
	padding: 0 !important;
	padding-left: 2em !important;
}

/**
 * Styles of the tagedit inputsforms
 */
.tagedit-list {margin: 0 auto; padding: 5px 5px 0 5px; width: 500px; overflow: auto; font-size: 11px; min-height: 25px;}
.tagedit-list li.tagedit-listelement {list-style-type: none; float: left; margin: 0 5px 5px 0; padding: 0; }
/* New Item input */
.tagedit-list li.tagedit-listelement-new input {border: 0; height: 100%; padding: 2px 5px; width: 15px; background: #fff;}
.tagedit-list li.tagedit-listelement-new input:focus {outline: none;}
.tagedit-list li.tagedit-listelement-new input.tagedit-input-disabled {display: none;}
/* Item that is put to the List */
.tagedit-list li.tagedit-listelement-old {background: #DEE7F8 url(../img/emr/disc.png) 4px center no-repeat; border: 1px solid #CAD8F3; padding: 2px 0 2px 13px; -moz-border-radius: 8px 4px 4px 8px; -webkit-border-radius: 8px 4px 4px 8px; border-radius: 8px 4px 4px 8px;}
.tagedit-list li.tagedit-listelement-old:hover {background-color: #D6E4FF;}
.tagedit-list li.tagedit-listelement-old a.tagedit-close,
.tagedit-list li.tagedit-listelement-old a.tagedit-break,
.tagedit-list li.tagedit-listelement-old a.tagedit-delete,
.tagedit-list li.tagedit-listelement-old a.tagedit-undelete,
.tagedit-list li.tagedit-listelement-old a.tagedit-save {font-weight: bold; text-indent: -2000px; display: inline-block; width: 15px; height: 100%; cursor: pointer; border-left: 1px dotted #7E9DD6; margin: 0 2px 0 5px; background: url(../img/emr/cross.png) center center no-repeat;}
.tagedit-list li.tagedit-listelement-old a.tagedit-save {background-image: url(../img/emr/tick.png); margin-right: 0;}
.tagedit-list li.tagedit-listelement-old a.tagedit-break {background-image: url(../img/emr/undo.png); margin-right: 0;}
.tagedit-list li.tagedit-listelement-old a.tagedit-delete {background-image: url(../img/emr/flag.png); margin: 0 5px 0 2px; background-position: right center;}
.tagedit-list li.tagedit-listelement-old a.tagedit-undelete {background-image: url(../img/emr/noflag.png); margin: 0 5px 0 2px; background-position: right center;}
/* Items that are edited */
.tagedit-list li.tagedit-listelement-edit input.tagedit-edit-input {border: 0; background: transparent; font-size: 11px; color: #666; padding: 0;}
.tagedit-list li.tagedit-listelement-edit input:focus {outline: none;}
.tagedit-list li.tagedit-listelement-edit a.tagedit-break {border: 0; margin-left: 0;}
.tagedit-list li.tagedit-listelement-edit a.tagedit-close,
.tagedit-list li.tagedit-listelement-edit span {display: none;}
/* Item is marked as deleted */
.tagedit-list li.tagedit-listelement-deleted,
.tagedit-list li.tagedit-listelement-deleted:hover {padding-right: 5px; background-color: #FFD6D6; border-color: #FFB7B7; border-style: dashed; }
/*.tagedit-list li.tagedit-listelement-deleted span {text-decoration: line-through;}*/
.tagedit-list li.tagedit-listelement-deleted a.tagedit-close {margin-right: 0;}

/*combo start*/
.options_table td{cursor:default;height:25px;padding:0px 2px;color:#000000;}
.selected_option{background-color:#8EAFBB;}
.options_div {
	position:absolute;
	z-index:2000;
	overflow-y:auto;
	overflow-x:hidden;
	ont-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:25px;
	background-color: #fff;
	scrollbar-face-color: #E3EBF8;
	scrollbar-shadow-color: #c6d8f0;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #E3EBF8;
	scrollbar-darkshadow-color:#d8e4f3;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #9bb8de;
	display:none;
}
.options_border{border:1px solid #BAC2CD;}
.selectionArea{background-color:#FEFF66;}
.elementArea{background-color:#FEC160;}

.l-checkbox-wrapper{
	display: -moz-inline-stack;display:inline-block; zoom: 1;*display: inline;margin:0 auto;margin-right:2px; padding:0;}
a.l-checkbox {
	background:url(../img/emr/checkbox.gif) no-repeat 0 0;
	vertical-align: middle;
	height: 13px;  
	width: 13px; margin:0 auto;
	overflow:hidden;
	display: -moz-inline-stack;display:inline-block; zoom: 1;*display: inline;
}
div.l-disabled a.l-checkbox
{
    background-position:-39px 0;
}
div.l-disabled a.l-checkbox-checked
{
    background-position:-39px -13px;
}
a.l-checkbox-checked
{
    background-position:0 -13px;
}
.l-over a.l-checkbox
{
    background-position:-13px 0px;
}
.l-over a.l-checkbox-checked
{
    background-position:-13px -13px;
}
.l-hidden{display:none;}
/*combo end*/
.div01{ width:542px; height:272px; border:1px solid #afc6ce; padding:8px; background-color:#e8f3f6;position:absolute;z-index:4000;display:none;}
.div02{ height:28px; background:url(../img/emr/hover_2.gif) repeat-x;}
.div02 ul{ margin:0px; padding:0px; list-style:none; font-family:"微软雅黑"; font-size:14px; color:#6ca3b1; height:28px;}
.div02 ul li{ width:76px; height:28px; line-height:28px; text-align:center; float:left; cursor:pointer;display:inline;}
.div02 ul li.hover{ background:url(../img/emr/hover_1.gif) no-repeat; color:#000;}
.div03{ background-color:#fff; border:1px solid #cfe3e9; padding:10px; border-top:none;height:223px; width:520px;}
.div03 ul.div03_ul{ margin:0px; padding:0px; list-style:none; font-family:"微软雅黑"; font-size:13px; color:#6ca3b1; height:22px; padding-left:20px; background:url(../img/emr/hover4.gif) repeat-x;}
.div03 ul li.div03_li{ width:70px; height:22px; line-height:22px; text-align:center; float:left; cursor:pointer;display:inline;}
.div03 ul li.hover{ background:url(../img/emr/hover_3.gif) no-repeat; color:#000;}
.div04{ padding-top:10px;}
.div05{ width:342px; height:400px; border:1px solid #afc6ce; padding:8px; background-color:#e8f3f6;z-index:4000;position:absolute;display:none;}
.div06{padding-bottom:4px;height:20px; }
.div06 ul{ margin:0px; padding:0px; list-style:none; font-family:"微软雅黑"; font-size:14px; color:#6ca3b1;}
.div07{ background-color:#fff; border:1px solid #cfe3e9; padding:10px;height:350px; width:320px;overflow-y:auto;overflow-x:auto;}
.div08{ width:640px; height:520px; border:1px solid #afc6ce; padding:8px; background-color:#e8f3f6;z-index:4000;position:absolute;display:none;}
.div09{ width:520px; height:300px; border:1px solid #afc6ce; padding:8px; background-color:#e8f3f6;z-index:4000;position:absolute;display:none;}
.div10{ width:250px; height:100px; border:1px solid #afc6ce; padding:8px; background-color:#e8f3f6;z-index:4000;position:absolute;display:none;}
.div11{width:230px;background-color:#fff;height:70px;border:1px solid #cfe3e9;}
.div12{ width:320px; height:110px; border:1px solid #afc6ce; padding:8px; background-color:#e8f3f6;z-index:4000;position:absolute;display:none;}
.div13{width:300px;background-color:#fff;height:80px;border:1px solid #cfe3e9;}
#DropdownMenuBackground{display:none;position:absolute; height:230px; width:250px; background-color:white;border:1px solid #93AFBA;overflow-y:auto;overflow-x:auto;}
#specialbug{background:none; border:none;height:100%;width:100%;}
#fullbodybg {background-color:#CCCCCC;left:0;opacity:0.6;position:absolute;top:0;z-index:3500;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;height:100%;width:100%;display:none;}

#specharsTab{width:600px;height:470px;font-size:12px;background-color:#fff; border:1px solid #cfe3e9; position: relative;padding:10px;}
#tabHeads{width:600px;position: relative;z-index:4002;}
#tabHeads span{display:inline-block;width:70px;height:26px;text-align: center; cursor: pointer; line-height: 26px; border: 1px solid #ccc; border-bottom: 0 solid #ddd;margin-left:2px;}
#tabHeads span.focus{ border-bottom: none; height: 27px;background-color: #fff;}
#tabBodys {width:600px;height:440px;border: 1px solid #ddd;margin-left:2px;position:relative;top:-1px;z-index:4001;}
#tabBodys span{ margin: 5px 3px;text-align: center;display:inline-block;width: 40px;height:16px;cursor: pointer;line-height: 22px; }

.wrapper{width:510px;background-color:#fff;height:256px;border:1px solid #cfe3e9;}
.base{width: 470px;*width: 487px;height: 76px;margin-left:10px;margin-top:10px;border: 1px solid #ddd;}
legend{margin-left: 5px; font-weight: bold;font-size: 12px;color: #000;}
fieldset table{margin-left: 5px;float: left;}
.base table{margin-left: 10px;}
.base table tr{height: 25px;}
#tableDiv input{ width: 50px;border:1px solid #93AFBA;}
.extend {width: 298px;*width: 315px;height: 125px;*height: 146px;margin:10px;float: left;border: 1px solid #ddd;}
.extend table{height: 120px;}
#preview{width: 160px;height: 132px;*height: 138px;float: left;border: 1px solid #ccc;margin: 16px 0;background-color: #eee}
#preview table {margin:3px 5px;}
#preview table td{height: 20px;}
#message{float: left;width: 110px;margin-left: 10px;font-size: 12px;color: red;line-height: 15px}
#messageContent{color: green;margin-top: 5px;}
#bgColor{width: 85px;}

.rich_editor_air {
	position: absolute;
	border: 1px solid #ddd;
	border-bottom: none;
	z-index: 3500;
}
.rich_editor_toolbar {
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif !important; 
	position: relative;
	left: 0;
	top: 0;
	margin: 0 !important;
	padding: 0 !important;
	padding-left: 2px !important;
	line-height: 0 !important;
	list-style: none !important;
	font-size: 0;
	background: #f2f2f2;
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#ddd 100%);
	background: -o-linear-gradient(top,  #f5f5f5 0%,#ddd 100%);
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#ddd 100%);
	background: linear-gradient(top,  #f5f5f5 0%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#dddddd',GradientType=0 );
	overflow: hidden !important;
	height: 32px !important;
	border-bottom: 1px solid #bbb;
}
.rich_editor_air .rich_editor_toolbar {
    padding-right: 2px !important;
}
.rich_editor_toolbar li {
	float: left !important;
	margin: 0 !important;	
	padding: 3px 1px;
	padding-right: 0;
	list-style: none !important;
}
.rich_editor_toolbar li.rich_editor_separator {
	float: left;		
	height: 34px;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #eee;	
	padding: 0;
	margin: 0 2px 0 3px !important;
}
.rich_editor_toolbar li a {
	width: 25px;
	height: 25px;
	border: 1px solid transparent;
	* border: 1px solid #eee; 
	display: block;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	zoom: 1;
	text-decoration: none;
}	
.rich_editor_toolbar li a {
    background-image: url(../img/emr/selectmenubg.png);
    background-position: 0;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
.rich_editor_toolbar li a {
		background-image: url(../img/emr/selectmenubg.png);
		background-size: auto 25px;
	}
}
.rich_editor_toolbar li a:hover {
    background-color: #DDE4EF;
    border-color: #98A6BA;
}
.rich_editor_toolbar li a:active, .rich_editor_toolbar li a.act {
    background-color: #E8E8E8;
    border-color: #B5B5B5;
}
.rich_editor_toolbar li a.rich_editor_btn_bold {
    background-position: -50px center;
}
.rich_editor_toolbar li a.rich_editor_btn_italic {
    background-position: -75px center;
}
.rich_editor_toolbar li a.rich_editor_btn_deleted {
    background-position: -500px center;
}
.rich_editor_toolbar li a.rich_editor_btn_unorderedlist {
    background-position: -100px center;
}
.rich_editor_toolbar li a.rich_editor_btn_orderedlist {
    background-position: -125px center;
}
.rich_editor_toolbar li a.rich_editor_btn_outdent {
    background-position: -150px center;
}
.rich_editor_toolbar li a.rich_editor_btn_indent {
    background-position: -175px center;
}
.rich_editor_toolbar li a.rich_editor_btn_alignleft {
    background-position: -375px center;
}
.rich_editor_toolbar li a.rich_editor_btn_aligncenter {
    background-position: -400px center;
}
.rich_editor_toolbar li a.rich_editor_btn_alignright {
    background-position: -425px center;
}
.rich_editor_toolbar li a.rich_editor_btn_justify {
    background-position: -450px center;
}

/*popup*/
.edui-popup { position: absolute; -webkit-user-select: none; -moz-user-select: none; z-index: 3500; }
.edui-popup .edui-shadow {
	position: absolute; z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
.edui-bubble .edui-popup-content {
    border: 1px solid #DCAC6C;
    background-color: #fff6d9;
    padding: 7px;
    font-size: 10pt;
    font-family: "宋体";
}
.edui-bubble .edui-shadow {
    box-shadow: 1px 1px 3px #818181;
    -webkit-box-shadow: 2px 2px 3px #818181;
    -moz-box-shadow: 2px 2px 3px #818181;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Blur(PixelRadius='2', MakeShadow='true', ShadowOpacity='0.5')';
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2', MakeShadow='true', ShadowOpacity='0.5');
}
span.edui-clickable {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

/*assistant start*/
.hdc_xxc1{ width:36px; height:587px; background:url(../img/emr/hdc1.jpg) no-repeat; position:absolute; z-index:100; right:0px; top:50px;}
.hdc_xxc1 ul{ width:36px; height:586px; color:#4f8197; list-style:none; margin:0px; padding:0px;padding-top:1px;}
.hdc_xxc1 ul li{ width:36px; height:51px; text-align:center; background:url(../img/emr/hdc2.jpg) no-repeat; padding-top:10px;cursor:pointer;}
.hdc_xxc1 ul li.hover{ color:#000; background:url(../img/emr/hdc4.jpg) no-repeat;}

.hdc_bg{ width:299px; height:585px; background:url(../img/emr/hdc3.png) no-repeat; padding:1px 38px 8px 7px; position:absolute; z-index:90; right:0px; top:50px;}

.hdc_yz1{ width:289px; height:565px; padding:10px;}
.hdc_yz2{ width:40px;}
.hdc_yz3{ width:275px; height:0px; border:none; border-bottom:1px solid #000; margin:5px 0px; }
.hdc_yz4{ color:#6f9ba8;}
.hdc_yz5{ color:#777;}
.hdc_yz6{ border-bottom:1px solid #777;}

.hdc_jy1{ width:279px; height:565px; padding:10px; overflow:hidden;}
.hdc_jy2{ height:25px; background:url(../img/emr/hdc6.jpg) no-repeat left; color:#6f9ba8; padding-left:15px; line-height:25px;}
.hdc_jy3{ width:278px; height:174px; background-color:#fff; border:1px solid #abcdd9; overflow-y:scroll; overflow-x:hidden;}
.hdc_jy3 table{ text-align:center;}
.hdc_jy3 table td{ border-bottom:1px solid #abcdd9;border-right:1px solid #abcdd9;height:26px;}
.hdc_jy4{ margin-top:8px;}
.hdc_jy5{ width:278px; height:268px; background-color:#fff; border:1px solid #abcdd9; overflow-y:scroll; overflow-x:hidden;}
.hdc_jy5 table{ text-align:center;}
.hdc_jy5 table td{ border-bottom:1px solid #abcdd9;border-right:1px solid #abcdd9;height:26px;}
.red{ background-color:#ff8179;}
.green{ background-color:#bfffc1;}
.blue{ background-color:#d0eaf4;}

.hdc_jc1{ height:26px; background:url(../img/emr/hdc8.jpg) no-repeat left; color:#6f9ba8; padding-left:15px; line-height:26px;}
.hdc_jc2{ width:264px; height:284px; background-color:#fff; border:1px solid #abcdd9; overflow-y:scroll; overflow-x:hidden; border-top:none; padding:7px;line-height:22px;}
.hdc_jc3{ width:264px; height:284px; background-color:#fff; border:1px solid #abcdd9; border-top:none; padding:7px;line-height:22px;}

.hdc_zd1{width:264px; height:522px; background-color:#fff; border:1px solid #abcdd9; overflow-y:scroll; overflow-x:hidden; border-top:none; padding:7px;}
.hdc_ct1{ padding:7px;  width:264px; height:190px; background-color:#fff; border:1px solid #abcdd9; overflow-y:scroll; overflow-x:hidden; border-top:none; }
.hdc_ct1 table td{ border-bottom:1px solid #777;height:26px;}
.hdc_ct2{ padding-left:5px;}
.hdc_ct3{ border-left:1px solid #ABCDD9; border-top:1px solid #ABCDD9;}
.hdc_ct4{ border-right:1px solid #ABCDD9;}
.test_hover{background:url(../img/emr/hdc7.png) no-repeat 5px 5px; padding-left:15px;}
/*assistant end*/

#easyNotification{
	z-index:1000000;
	position: fixed; 
	padding:5px 10px;
	top: 0px;  
	left: 40%;
	background:#fffed0;
	border:1px solid #d4d287;
	color:red;
/*	width:310px; */
	height:25px;
	}
#easyNotification img{
	vertical-align:middle;
}

#backhistory{
	z-index:999;
	position: fixed; 
	padding:0px;
	margin:0px;
	top: 100px;  
	left:0px;
	background:#ffffff;
	border:0px;
	width:26px; 
	height:96px;
	}
#backhistory img{
	vertical-align:middle;
}

.btn_xl1{ background:url(../img/emr/btn_xl1.gif) no-repeat; width:105px; height:32px; line-height:32px; font-family:'微软雅黑'; font-size:13px;}
.btn_xl3{ width:105px; margin-top:-5px;position:relative; z-index:12;}
.btn_xl4{ background-color:#f6f6f6; border-left:1px solid #aeaeae; border-right:1px solid #aeaeae;height:20px;}
.btn_xl4 ul{ margin:0px; padding:0px; list-style:none;}
.btn_xl4 ul li{ width:100%; line-height:20px; text-align:center;cursor:pointer;}
.btn_xl4 ul li.hover{ background-color:#e3e3e3;}


div.container{
cursor:default;
display: none;
text-align:left;
font-size:12px;
color:#000;
font-family:"微软雅黑";
font-weight:bold;
z-index:13;
padding:2;
border: 1px solid rgb(221, 221, 170);
position:relative;
top:8px;
height:30px;
width:210px;
background-color:transparent;
*border:1px solid #666;
}
s{
position:absolute;
top:-20px;
*top:-22px;
display:block;
height:0;
width:0;
font-size: 0;
line-height: 0;
border-color:transparent transparent #666 transparent;
border-style:dashed dashed solid dashed;
border-width:10px;
}
i{position:absolute;
top:-9px;
*top:-9px;
left:-10px;
display:block;
height:0;
width:0;
font-size: 0;
line-height: 0;
border-color:transparent transparent #fff transparent;
border-style:dashed dashed solid dashed;
border-width:10px;
}
.content{
display: none;
border:1px solid #666;
-moz-border-radius:3px;
-webkit-border-radius:3px;
position:absolute;
background-color:#fff;
width:100%;
height:100%;
*top:-2px;
*border-top:1px solid #666;
*border-top:1px solid #666;
*border-left:none;
*border-right:none;
*height:32px;
box-shadow: 3px 3px 4px #999;
-moz-box-shadow: 3px 3px 4px #999;
-webkit-box-shadow: 3px 3px 4px #999;
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
}

#printLi.hovering div {display: block;}
#mutiPrintSpan.hovering div {display: block;}


.b-m-mpanel {
	font-size:12px; 
	background: #F0F0F0 url(../img/emr/menu_bg.gif) left repeat-y;
	border: 1px solid #B8CBCB;
	padding: 2px 0;
	position: absolute;
	z-index: 99997;
	left:0px;
	top:0px;
}
.b-m-split {
	height: 6px;
	background: url(../img/emr/m_splitLine.gif) center repeat-x;
	font-size: 0px;
	margin: 0 2px;
}
.b-m-item, .b-m-idisable
{
    padding: 4px 2px;
    margin: 0 2px 0 3px;
    cursor: normal;
    line-height:100%;
}
.b-m-idisable
{
    color:#808080;
}
.b-m-ibody, .b-m-arrow {
	overflow: hidden;
	text-overflow: ellipsis;
	
}
.b-m-arrow {
	background: url(../img/emr/m_arrow.gif) right  no-repeat;	
}
.b-m-idisable .b-m-arrow
{
    background:none;
}
.b-m-item img, .b-m-ifocus img, .b-m-idisable img {
	margin-right: 8px;
}
.b-m-ifocus {
	background: url(../img/emr/m_item.gif) repeat-x bottom;
	border: 1px solid #AACCF6;
	padding: 3px 1px ;
    margin: 0 2px 0 3px;
    cursor: normal;
    line-height:100%;
}
.b-m-idisable img {
	filter:Gray;
}


/* "fm" classes are mostly for imitating MathML in browsers without it; we try to roughly mimic
	Firefox's MathML layout, which seems better than http://www.w3.org/TR/mathml-for-css/ */

/* Cambria [Math]'s line height currently (2/11) is large in most non-Microsoft browsers: */
fmath, .fm-math		{ font-family: STIXGeneral, 'DejaVu Serif', 'DejaVu Sans',
						/* Cambria, 'Cambria Math', */ Times, 'Lucida Sans Unicode',
						OpenSymbol, 'Standard Symbols L', serif; }
fmath mo, .fm-mo, .ma-sans-serif, fmath mi[mathvariant*=sans-serif],
fmath mn[mathvariant*=sans-serif], fmath mtext[mathvariant*=sans-serif],
fmath ms[mathvariant*=sans-serif]
/* some (crossbrowsertesting/browsershots) IE7s require no line break before
	'Lucida Sans Unicode': */
{ font-family: STIXGeneral, 'DejaVu Sans', 'DejaVu Serif', /* Cambria, 'Cambria Math', */ 'Lucida Sans Unicode',
						'Arial Unicode MS', 'Lucida Grande', Times,
						OpenSymbol, 'Standard Symbols L', sans-serif }
.fm-mo-Luc	/* avoid extra space at character tops, especially when stretched */
{ font-family: STIXGeneral, 'DejaVu Sans', 'DejaVu Serif', /* Cambria, 'Cambria Math', */ 'Lucida Sans Unicode',
						'Lucida Grande', 'Arial Unicode MS', Times,
						OpenSymbol, 'Standard Symbols L', sans-serif }
* html fmath, * html .fm-math, * html fmath mo, * html .fm-mo, * html .IE6-LSU
					{ font-family: 'Lucida Sans Unicode' !important }	/* IE <=6 only */
mo.fm-radic			{ font-family: 'Lucida Sans Unicode', 'Lucida Grande',
						Verdana, sans-serif !important }
.ma-script, fmath mi[mathvariant*=script], fmath mo[mathvariant*=script],
fmath mn[mathvariant*=script], fmath mtext[mathvariant*=script], fmath ms[mathvariant*=script]
					{ font-family:
						'England Hand DB', 'Embassy BT', 'Amazone BT', 'Bank Script D',
						'URW Chancery L', 'Lucida Calligraphy', 'Apple Chancery',
						'Monotype Corsiva', Corsiva,
						'Vivaldi D', Gabriola, 'Segoe Script', cursive }
.ma-fraktur, fmath mi[mathvariant*=fraktur], fmath mo[mathvariant*=fraktur],
fmath mn[mathvariant*=fraktur], fmath mtext[mathvariant*=fraktur],
fmath ms[mathvariant*=fraktur]
					{ font-family: UnifrakturMaguntia, Impact, fantasy }
fmath mi[mathvariant*=monospace], fmath mo[mathvariant*=monospace],
fmath mn[mathvariant*=monospace], fmath mtext[mathvariant*=monospace],
fmath ms[mathvariant*=monospace]
					{ font-family: monospace }
/* .ma-double-struck currently ignored */

.fm-mi-length-1		{ font-style: italic }
fmath mi[mathvariant]	{ font-style: normal }

.ma-bold, fmath mi[mathvariant*=bold], fmath mo[mathvariant*=bold],
fmath mn[mathvariant*=bold], fmath mtext[mathvariant*=bold], fmath ms[mathvariant*=bold]
					{ font-weight: bold }
.ma-nonbold			{ font-weight: normal }
.ma-upright			{ font-style: normal !important }
.ma-italic, fmath mi[mathvariant*=italic], fmath mo[mathvariant*=italic],
fmath mn[mathvariant*=italic], fmath mtext[mathvariant*=italic], fmath ms[mathvariant*=italic]
					{ font-style: italic }

fmath.ma-block		{text-align: center; text-indent: 0;
						page-break-inside: avoid }

/* note an operator might be 'mo' or "embellished": */
.fm-separator		{ padding: 0 0.56ex 0 0 }
.fm-infix-loose		{ padding: 0 0.56ex }	/* typically a relation */
.fm-infix			{ padding: 0 0.44ex }
.fm-prefix			{ padding: 0 0.33ex 0 0 }
.fm-postfix			{ padding: 0 0 0 0.33ex }
.fm-prefix-tight	{ padding: 0 0.11ex 0 0 }
.fm-postfix-tight	{ padding: 0 0 0 0.11ex }
.fm-quantifier		{ padding: 0 0.11ex 0 0.22ex }	/* to match MathML */
/* fences should have no padding */
.ma-non-marking		{ display: none }

.fm-large-op		{ font-size: 1.3em }
.fm-inline .fm-large-op	{ font-size: 1em }

fmath mrow			{ white-space: nowrap; }

.fm-vert			{ display: inline-block; vertical-align: middle;+height:25px;}

fmath table, fmath tbody, fmath tr, fmath td	/* reset to default(?) styles */
					{ border: 0 !important; padding: 0 !important; margin: 0 !important;
						outline: 0 !important ;}

fmath table			{ border-collapse: collapse !important; text-align: center !important;
						table-layout: auto !important; float: none !important }

.fm-frac			{ padding: 0 1px !important }
td.fm-den-frac		{ border-top: solid thin black !important;}

.fm-root			{ font-size: 0.6em }
.fm-radicand		{ padding: 0 1px 0 0; border-top: solid; margin-top: 0.1em }

.fm-script			{ font-size: 0.71em }
.fm-script .fm-script .fm-script	{ font-size: 1em }

td.fm-underover-base	{ line-height: 1 !important }

td.fm-mtd			{ padding: 0.5ex 0.4em !important; vertical-align: baseline !important }

td.fm-inline{line-height:10px  !important}

fmath mphantom		{ visibility: hidden }
fmath menclose, menclose.fm-menclose
					{ display: inline-block }
fmath menclose[notation=top], menclose.fm-menclose[notation=top]
					{ border-top: solid thin }
fmath menclose[notation=right], menclose.fm-menclose[notation=right]
					{ border-right: solid thin }
fmath menclose[notation=bottom], menclose.fm-menclose[notation=bottom]
					{ border-bottom: solid thin }
fmath menclose[notation=left], menclose.fm-menclose[notation=left]
					{ border-left: solid thin }
fmath menclose[notation=box], menclose.fm-menclose[notation=box]
					{ border: solid thin }
fmath none			{ display: none }	/* probably unnecessary */

mtd.middle, fmath td.middle	{ vertical-align: middle !important }

fmath table[columnalign=left], fmath tr[columnalign=left], fmath td[columnalign=left]
					{ text-align: left !important }
fmath table[columnalign=right], fmath tr[columnalign=right], fmath td[columnalign=right]
					{ text-align: right !important }
fmath td[rowalign=top]
					{ vertical-align: top !important }
fmath td[rowalign=bottom]
					{ vertical-align: bottom !important }
fmath td[rowalign=center]
					{ vertical-align: middle !important }

mtable.ma-join-align > mtr > mtd:first-child,
fmath span.ma-join-align > table > tbody > tr > td:first-child
					{ text-align: right; padding-right: 0 !important }
mtable.ma-join-align > mtr > mtd:first-child + mtd,
fmath span.ma-join-align > table > tbody > tr > td:first-child + td
					{ text-align: left; padding-left: 0 !important }
mtable.ma-join1-align > mtr > mtd:first-child,	/* e.g. for cases after a stretched { */
fmath span.ma-join1-align > table > tbody > tr > td:first-child
					{ text-align: left; padding-left: 0 !important }

mtable.ma-binom > mtr > mtd, fmath span.ma-binom > table > tbody > tr > td
					{ padding: 0 !important }
mtable.ma-binom > mtr:first-child > mtd,
fmath span.ma-binom > table > tbody > tr:first-child > td
					{ padding: 0 0 0.18em 0 !important }
