body { font-size:13px; font-family:"微软雅黑"; color:#000; margin:0px}
img{ border:0px;}
ul{ margin:0px; padding:0px; list-style:none;}
hr{ border:1px solid #a6bdc6; width:360px; height:1px;}

.anniu{ color:#000; text-decoration:none; display:block; width:92px; height:32px;}/*change*/
.anniu:hover{ background:url(../img/btn1.jpg);}/*change*/

.anniu1{ color:#fff; text-decoration:none;}/*change*/
.anniu1:hover{ text-decoration:underline;}/*change*/


.floatl{ float:left; display:inline;}
.floatr{ float:right; display:inline;}
.clear{ clear:both;}

.xx{ list-style:none; height:32px;}
.xx li{ width:104px; height:32px; float:right; line-height:32px; text-align:center; color:#6ba3b6; font-weight:bold;}
.li1{ background:url(../img/xx3.gif) no-repeat;}
.li2{ background:url(../img/xx2.gif) no-repeat;}
.li3{ background:url(../img/xx1.gif) no-repeat;}
.xxhover{ font-size:15px; background:url(../img/xxhover.gif) no-repeat; color:#075f7e; display:block; width:104px; height:32px;}

.top{ width:100%; height:90px; background-color:#8eafbb;}
.topl{ width:1251px; height:90px; overflow:hidden;}
.top2{ width:843px;height:90px;}
.top3{ height:30px; text-align:right; color:#fff;}
.top4{ height:28px; background:url(../img/top3.jpg) no-repeat 20px 0px;}
.top5{ width:135px; height:26px; line-height:26px; background:none; border:0px;}
.top6{ text-align:right; height:32px;}

.middle{ width:1000px; padding:10px 0px; }
.middle1{ height:26px; line-height:26px; background:url(../img/gh_img1.jpg) no-repeat; text-align:right; padding-right:27px; color:#44839a; padding-left:33px; font-weight:bold; }
.middle2{ width:998px; border:1px solid #93afba; border-bottom:none; border-top:none; padding:5px 0px;}
.middle3{ height:4px;}
.middle4{ height:32px; padding:10px 0px 5px 0px; text-align:right;}
.middle4 ul{ list-style:none;}
.middle4 ul li{ width:92px; height:32px; background:url(../img/btn.jpg) no-repeat; text-align:center; line-height:32px; font-size:14px; margin-left:1px; float:right; display:inline;}
.middle5,.middle6,.middle8{ height:225px;*height:240px;}
.middle6{ width:605px;}
.middle7{ width:603px;}
.middle8{ width:385px;}
.middle9{ width:383px;}
.middle10{width:100%; height:70px; background-color:#8eafbb; color:#fff;}

.mar1{ margin-left:15px;}
.mar2{ margin-left:50px;}
.mar3{ margin-top:10px;}
.mar4{ margin-left:10px;}

.font1{ font-weight:bold; padding:0px 5px; background-color:#fff; line-height:24px;}
.font2 {color:#f00;font-weight:bold}
.font3{ color:#44839a; font-weight:bold; background:#fff; padding:0px 5px;}
.font4{ color:#9c9c9c;}
.font5{ font-size:16px;}

.txt{ width:200px;}
.txt1{ width:50px;}
.txt2{ width:400px;}
.txt3{ width:70px;}

.bgr{ background:url(../img/bt2.jpg) repeat-x;}
.bgr1{ background:url(../img/tp2.jpg) repeat-x 0px 3px;}
.bgr2{ background:url(../img/tp2.jpg) repeat-x 0px 2px;}

.bord{border:1px solid #93afba; border-bottom:none; border-top:none; padding:5px 0px; margin-top:-3px;}


/*room*/
.xx1{ list-style:none; height:32px; padding-top:5px;}
.xx1 li{ width:104px; height:32px; float:left; line-height:32px; text-align:center; color:#6ba3b6; font-weight:bold;}
.li11{ background:url(../img/xx11.gif) no-repeat;}
.li22{ background:url(../img/xx22.gif) no-repeat;}
.li33{ background:url(../img/xx33.gif) no-repeat;}

.room{ width:1221px; padding:10px 0px 0px 0px;}
.room1{ width:1000px; height:44px; background:url(../img/room.gif) no-repeat 0px 36px;}
.room3{ height:260px;}
.room4{ width:227px; height:230px;}
.room5{ width:225px; height:225px; margin-top:-5px;}
.room6{ width:635px; height:245px; padding-top:10px;}
.room7{ width:325px; height:230px;}
.room8{ width:328px; height:230px;}
.room8 ul{ padding-left:10px;}
.room8 ul li{ width:75px; height:28px;*height:25px; float:left; display:inline;}
.room9{ height:42px; margin:10px 0px; background:url(../img/ant.gif) no-repeat; padding-top:10px;}
.room10{ width:978px; height:594px; padding-bottom:10px;}
.room11{ width:67px; height:594px; text-align:left;}
.room12{ width:625px; height:594px; background:url(../img/cfj.gif) no-repeat;}
.room13{ width:469px; height:579px; padding-top:15px;}
.room14{ width:275px; height:594px;}
.room15{ width:273px; height:260px;}
.room16{ width:253px; height:30px; text-align:right; border-bottom:1px solid #98b3be;}


.press{ width:92px; height:32px; line-height:32px; text-align:center; background:url(../img/btn.jpg) no-repeat;}
.bodbot{ border-bottom:1px solid #000;}
.height2{ width:4px; height:52px;}

.mar5{ margin-top:5px;*margin-top:3px;}
.mar6{ margin-left:10px;_margin-left:5px;}
.mar7{ margin-right:12px;}

.lineh{ line-height:22px;}
.ant li{ width:92px; height:32px; background:url(../img/btn.jpg) no-repeat; float:left; display:inline; text-align:center; line-height:32px; margin-left:5px;}
.list1{ background:url(../img/icon4.gif) no-repeat left 9px; padding-left:10px;}
.list2{ background:url(../img/icon1.gif) no-repeat left 5px; padding-left:25px;}
.list3{ background:url(../img/icon2.gif) no-repeat left 5px; padding-left:25px;}

.yao li{ width:67px; height:57px;}
.yaohover{ display:block; width:55px; height:52px; padding-left:12px; padding-top:5px; text-decoration:none; color:#588fa2; font-weight:bold;background:url(../img/yao.gif) no-repeat; }
.yaohover:hover{ background:url(../img/yaohover.gif) no-repeat;}

.more{ color:#000; text-decoration:none}
.more:hover{ text-decoration:underline;}

h3{ font-family:"长城行楷体"; font-size:30px; font-weight:normal;}
.hr1{ width:439px; border:1px solid #000;  height:2px;}

.room_txt{ width:550px; height:42px;}
.room_txt1{ width:360px; height:20px;}
.room_txt2{ width:230px; background:none; border:none; border-bottom:1px solid #000;}
.room_txt3{ width:70px; background:none; border:none; border-bottom:1px solid #000;}
.room_txt4{ width:210px; background:none; border:none; border-bottom:1px solid #000;}
.room_txt5{ width:20px; background:none; border:none; border-bottom:1px solid #000;}
.room_txt6{ width:409px; height:290px; background:none; border:0px; line-height:25px; overflow:auto;}
.room_txt7{ width:150px; background:none; border:none; border-bottom:1px solid #000;}

.kah1{ background-color:#fff; border:1px solid #99b4bf; padding:0px 5px;}


/*advice*/
.marb{ margin-bottom:5px;}

.advice{ width:1210px; height:275px; padding-bottom:10px; text-align:left;}
.advice1{ width:1188px; height:265px; text-align:left; padding:0px 10px;}
.advice2{ width:1188px; height:235px; }


.advice_txt{width:35px; background:none; border:none; border-bottom:1px solid #000; color:#f00; text-align:center;}

.wdth{ width:50px;}

.btn01{
	width:64px;
	height:26px;
	background:url(../img/ss.gif) no-repeat;
	border:0px;
	font-size:13px;
	color:#6ba3b6;
	font-family:微软雅黑;
	font-weight:bold;
}
.btn01:focus{
	background:url(../img/ssfocus.gif) no-repeat;
}