BODY {
	FONT-SIZE: 12px; MARGIN: 0px; WIDTH: 100%; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif, 宋体; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.top {
	MARGIN: 0px auto; WIDTH: 990px
}
.top_log {
	FLOAT: left; MARGIN: 6px 0px 0px 5px
}
.top_link {
	FLOAT: right; MARGIN: 32px 5px 3px 0px
}
.top_userlogin {
	CLEAR: both; HEIGHT: 30px
}
.top_userloginb1 {
	BACKGROUND: url(../images/common/TOP_banerl.gif) no-repeat; FLOAT: left; WIDTH: 8px; HEIGHT: 30px
}
.top_userloginb2 {
	BACKGROUND: url(../images/common/TOP_banerm.gif) repeat-x; FLOAT: left; WIDTH: 975px; HEIGHT: 30px
}
.top_userloginb3 {
	BACKGROUND: url(../images/common/TOP_banerr.gif) no-repeat; FLOAT: left; WIDTH: 7px; HEIGHT: 30px
}
.top_webset {
	MARGIN-TOP: 6px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; COLOR: #fff; TEXT-ALIGN: left
}
.top_userinput {
	MARGIN-TOP: 4px; FLOAT: right; COLOR: #ffffff
}
.main {
	CLEAR: both; MARGIN-TOP: 5px; WIDTH: 990px; HEIGHT: 100%
}
.menu {
	FLOAT: left; WIDTH: 180px
}
.menubar {
	BACKGROUND: url(../images/common/menu_baner.gif) no-repeat; WIDTH: 180px; HEIGHT: 26px
}
.menubar2 {
	BORDER-RIGHT: #ffd3b4 1px solid; BORDER-TOP: #ffd3b4 4px solid; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #ffd3b4; BORDER-LEFT: #ffd3b4 1px solid; WIDTH: 178px; HEIGHT: 30px; BACKGROUND-COLOR: #fff1eb
}
.menuall {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; HEIGHT: auto; BACKGROUND-COLOR: #f6fbff
}
.menuall2 {
	BORDER-TOP-WIDTH: 1px; BORDER-RIGHT: #ffd3b4 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #ffd3b4 1px solid; BORDER-TOP-COLOR: #ffd3b4; PADDING-TOP: 10px; BORDER-BOTTOM: #ffd3b4 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #fff1eb
}
.barfont2 {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000; LINE-HEIGHT: 27px
}
.barfont {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 26px
}
.settings DIV.r2 {
	BACKGROUND: #f5fef4
}
.settings DIV.r2 {
	BORDER-LEFT-COLOR: #c2ffbc; BORDER-BOTTOM-COLOR: #c2ffbc; BORDER-TOP-COLOR: #c2ffbc; BORDER-RIGHT-COLOR: #c2ffbc
}
.settings DIV.r3 {
	BORDER-LEFT-COLOR: #c2ffbc; BORDER-BOTTOM-COLOR: #c2ffbc; BORDER-TOP-COLOR: #c2ffbc; BORDER-RIGHT-COLOR: #c2ffbc
}
DIV.r1 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative; BORDER-BOTTOM-STYLE: none
}
DIV.r2 {
	BORDER-RIGHT: transparent 0px solid; BORDER-TOP: transparent 1px solid; BORDER-LEFT: transparent 0px solid; BORDER-BOTTOM: transparent 1px solid
}
DIV.r3 {
	BORDER-RIGHT: transparent 1px solid; BORDER-TOP: transparent 0px solid; MARGIN: 0px -1px; BORDER-LEFT: transparent 1px solid; BORDER-BOTTOM: transparent 0px solid
}
.feature {
	FLOAT: left; MARGIN: 0px 0px 1em; WIDTH: 100%
}
.feature DIV DIV DIV {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.feature H4 {
	FONT-SIZE: 100%; MARGIN: 5px 0px 5px 5px
}
.feature UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.feature UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 0px; POSITION: relative
}
.settings LI A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px
}
.main_right {
	FLOAT: right; WIDTH: 790px; TEXT-ALIGN: left
}
.nowspace {
	MARGIN: 6px 0px
}
.titleh3 {
	FONT-WEIGHT: bold; FONT-SIZE: 150%; FLOAT: left; MARGIN: 10px 0px 0px; WIDTH: 150px
}
.titleh3 FONT {
	FONT-WEIGHT: lighter; FONT-SIZE: 12px
}
.tabdiv1 {
	CLEAR: both; WIDTH: 790px
}
.tabdiv2 {
	FLOAT: left; WIDTH: 385px
}
.tabdiv3 {
	FLOAT: right; WIDTH: 385px
}
.tabdiv4 {
	FLOAT: left; MARGIN-LEFT: 8px; WIDTH: 255px
}
.tabdiv5 {
	FLOAT: left; WIDTH: 255px
}
.tabdiv6 {
	FLOAT: right; WIDTH: 255px
}
A {
        COLOR: #0077cc; TEXT-DECORATION: none
}
A:hover {
        COLOR: #f03b58; TEXT-DECORATION: none
}
TABLE A {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TABLE A:link {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TABLE A:visited {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TABLE {
	BORDER-RIGHT: #cedced 1px solid; border-left:1px solid #CEDCED;BORDER-TOP: #cedced 1px solid; MARGIN: 0.6em auto; WIDTH: 100%; BORDER-BOTTOM: #cedced 1px solid; BORDER-COLLAPSE: collapse
}
.column1 {
	BACKGROUND: #fff
}
TD {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0.3em; BORDER-right: #cedced 1px solid; COLOR: #000; PADDING-TOP: 0.3em; BORDER-BOTTOM: #cedced 1px solid; TEXT-ALIGN: left
}
TH {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0.3em; BORDER-right: #cedced 1px solid; COLOR: #5e759d; PADDING-TOP: 0.3em; BORDER-BOTTOM: #cedced 1px solid; TEXT-ALIGN: left
}
THEAD TH {
	FONT-WEIGHT: lighter; FONT-SIZE: 12px; BACKGROUND: #e9f1fa; COLOR: #638199; TEXT-ALIGN: left
}
.th1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333333; BORDER-BOTTOM: #cedced 2px solid; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
.redtable {
	BORDER-RIGHT: #ffa1a1 1px solid; BORDER-TOP: #ffa1a1 1px solid; MARGIN: 0.8em auto; BORDER-LEFT: #ffa1a1 1px solid; WIDTH: 100%; BORDER-BOTTOM: #ffa1a1 1px solid; BORDER-COLLAPSE: collapse
}
.redtable TH {
	BORDER-LEFT: #ffa1a1 1px solid; BORDER-BOTTOM: #ffa1a1 1px solid
}
.redtable TD {
	BORDER-LEFT: #ffa1a1 1px solid; BORDER-BOTTOM: #ffa1a1 1px solid
}
.redtable .th3 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 12px; BACKGROUND: #ffcccc; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; BORDER-BOTTOM: #ffa1a1 1px solid; TEXT-ALIGN: left
}
.redtable .th1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333333; BORDER-BOTTOM: #ffa1a1 1px solid; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
.odd TH {
	FONT-WEIGHT: bold; COLOR: #282828; TEXT-ALIGN: right
}
.odd TH A {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.odd TH A:link {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.odd TH A:visited {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.odd .all_left {
	TEXT-ALIGN: left
}
.all_right {
	TEXT-ALIGN: right
}
.num1 {
	FONT-SIZE: 14px; COLOR: #ff3333; TEXT-ALIGN: right
}
.num2 {
	FONT-SIZE: 14px; COLOR: #000000; TEXT-ALIGN: right
}
.fontcla {
	FONT-WEIGHT: lighter; FONT-SIZE: 12px; FLOAT: right
}
.gktable {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.gktable TR TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
.titleline {
	CLEAR: both; FONT-SIZE: 0px; BACKGROUND: #b7cfe6; MARGIN: 5px 0px; HEIGHT: 2px
}
.date {
	CLEAR: both; BORDER-RIGHT: #dfe7eb 1px solid; FONT-SIZE: 0px; BACKGROUND: url(../images/common/date_bg.gif) repeat-x 50% top; MARGIN: 0px 0px 10px; BORDER-LEFT: #dfe7eb 1px solid; WIDTH: 100%; HEIGHT: 41px
}
.dateinput {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; FLOAT: left; MARGIN: 10px 0px 0px 8px; COLOR: #5d7aa0
}
.date A#look {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; COLOR: #fff; PADDING-TOP: 2px; BACKGROUND-COLOR: #5c7aa0; TEXT-DECORATION: none
}
.date A:link {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; COLOR: #0077cc; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.date A:visited {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; COLOR: #0077cc; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.date A:hover {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; COLOR: #fff; PADDING-TOP: 2px; BACKGROUND-COLOR: #5c7aa0; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
.date A:unknown {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; COLOR: #fff; PADDING-TOP: 2px; BACKGROUND-COLOR: #5c7aa0; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
.flatype1 {
	FONT-WEIGHT: lighter; FONT-SIZE: 12px; FLOAT: right; COLOR: #333333
}
.flatype3 {
	CLEAR: both; FONT-WEIGHT: lighter; FONT-SIZE: 12px; MARGIN: 0px auto; COLOR: #333333; LINE-HEIGHT: 35px; HEIGHT: 35px
}
.flatuli {
	FLOAT: left
}
.flatuli_k {
	CLEAR: both; WIDTH: 100%; LINE-HEIGHT: 16px
}
.flatuli_color {
	FONT-SIZE: 0px; BACKGROUND: #ff0000; FLOAT: left; WIDTH: 12px; HEIGHT: 12px
}
.flatuli_font {
	PADDING-LEFT: 5px; FONT-SIZE: 12px; FLOAT: left
}
.flatype2 {
	FONT-WEIGHT: lighter; FONT-SIZE: 12px; FLOAT: left; COLOR: #333333
}
.dateinput1 {
	FONT-SIZE: 12px; FLOAT: left; MARGIN: 8px 0px 0px 8px; WIDTH: 770px; COLOR: #333333
}
.online {
	CLEAR: both; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.online_d1 {
	FLOAT: left; MARGIN-LEFT: 20px; HEIGHT: 30px
}
.online_d2 {
	FLOAT: left; MARGIN-LEFT: 200px; HEIGHT: 30px
}
.num3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #5e759d; TEXT-ALIGN: right
}
.num4 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ff3300; TEXT-ALIGN: right
}
.num5 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; TEXT-ALIGN: right
}
.num6 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff3300; TEXT-ALIGN: right
}
.th2 {
	FONT-WEIGHT: lighter; FONT-SIZE: 12px; BACKGROUND: #e9f1fa; TEXT-ALIGN: center
}
.Footer {
	CLEAR: both; MARGIN-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.tlink {
	MARGIN-LEFT: 0.5em; VERTICAL-ALIGN: bottom; MARGIN-RIGHT: 0.5em
}
.tlink:link {
	COLOR: #6c717c; TEXT-DECORATION: none
}
.tlink:visited {
	COLOR: #6c717c; TEXT-DECORATION: none
}
.tlink:hover {
	COLOR: #6c717c; TEXT-DECORATION: underline
}
.Footer P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.flatype2 {
	MARGIN-TOP: 3px; FONT-WEIGHT: lighter; FONT-SIZE: 12px; FLOAT: right; MARGIN-BOTTOM: -5px; WIDTH: 50%; COLOR: #333333
}
.dayfla {
	DISPLAY: inline; BACKGROUND: url(../images/common/bg.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 238px; HEIGHT: 500px
}
.dayfla DIV {
	DISPLAY: inline; OVERFLOW: hidden; HEIGHT: 500px
}
.dayfla_box DIV {
	CLEAR: both; DISPLAY: inline; FONT-SIZE: 12px; FLOAT: left; OVERFLOW: hidden; WIDTH: 190px; LINE-HEIGHT: 13px; HEIGHT: 13px
}
.dayfla_box {
	MARGIN-TOP: 20px; DISPLAY: inline; PADDING-LEFT: 35px; FLOAT: left; OVERFLOW: hidden; WIDTH: 200px; HEIGHT: 478px
}
.daywith {
	CLEAR: both; PADDING-RIGHT: 8px; DISPLAY: inline; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 8px; WIDTH: 755px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.daywith DIV DIV {
	MARGIN-TOP: 5px; HEIGHT: auto
}
.daywith_bg1 {
	DISPLAY: inline; BACKGROUND: #91e3ff; FLOAT: left; HEIGHT: 40px
}
.daywith_bg2 {
	DISPLAY: inline; BACKGROUND: #ffcfa8; FLOAT: left; HEIGHT: 40px
}
.daywith_bg3 {
	DISPLAY: inline; BACKGROUND: #bdffc0; FLOAT: left; HEIGHT: 40px
}
.admin_section_feedback {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100%; PADDING-TOP: 10px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.admin_section_feedback TR TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #3a3a3a; LINE-HEIGHT: 18px; PADDING-TOP: 10px; BORDER-RIGHT-WIDTH: 0px
}
.admin_ustrong {
	FONT-WEIGHT: bold
}
.tabdiv1 {
	CLEAR: both; WIDTH: 100%
}
.num7 {
	FONT-SIZE: 12px; COLOR: #000; TEXT-ALIGN: right
}
.num8 {
	FONT-SIZE: 12px; COLOR: #fff; TEXT-ALIGN: right
}
.tdlist {
	BACKGROUND-COLOR: #9fa9b8
}
.tips {
	CLEAR: both; BORDER-RIGHT: #f9c943 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #f9c943 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 6px; FONT-SIZE: 12px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 6px; BORDER-LEFT: #f9c943 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #f9c943 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #ffffee
}
.tips SPAN {
	PADDING-RIGHT: 10px; MARGIN-TOP: 0px; FONT-WEIGHT: bold
}
.tips TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.tips TABLE TR {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.tips TABLE TR TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.tips_warning {
	BORDER-RIGHT: #ff9494 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #ff9494 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 6px; FONT-SIZE: 12px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 6px; BORDER-LEFT: #ff9494 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #ff9494 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #ffefef
}
.tips_warning SPAN {
	PADDING-RIGHT: 10px; MARGIN-TOP: 0px; FONT-WEIGHT: bold
}
.tips_warning TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.tips_warning TABLE TR {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.tips_warning TABLE TR TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.top_link A:link {
	COLOR: #131766; TEXT-DECORATION: none
}
.top_link A:visited {
	COLOR: #131766; TEXT-DECORATION: none
}
.top_link A:hover {
	COLOR: #3399ff; TEXT-DECORATION: underline
}
.odd1 TH {
	FONT-WEIGHT: lighter; COLOR: #282828; TEXT-ALIGN: right
}
.odd1 TH A {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.odd1 TH A:link {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.odd1 TH A:visited {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.textInput2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 110px; PADDING-TOP: 0px; HEIGHT: 18px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.flatuli_k1 {
	FLOAT: left; COLOR: #000000; LINE-HEIGHT: 16px; MARGIN-RIGHT: 15px
}
.bg1 {
	CLEAR: both; PADDING-LEFT: 6px; COLOR: #000000; PADDING-TOP: 10px; HEIGHT: 20px; BACKGROUND-COLOR: #e7f5fe
}
.bg3 {
	CLEAR: both; PADDING-LEFT: 6px; COLOR: #000000; PADDING-TOP: 6px; HEIGHT: 20px; BACKGROUND-COLOR: #e7f5fe
}
.bg2 {
	CLEAR: both; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; PADDING-TOP: 16px; HEIGHT: 20px
}
.spons-link:link {
	COLOR: #000; TEXT-DECORATION: none
}
.spons-link:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.spons-link:hover {
	COLOR: #003897; TEXT-DECORATION: none
}
.spons-link:active {
	COLOR: #003897; TEXT-DECORATION: none
}
.spons-l:link {
	COLOR: #008dc5; TEXT-DECORATION: underline
}
.spons-l:visited {
	COLOR: #008dc5; TEXT-DECORATION: underline
}
.spons-l:hover {
	COLOR: #626262; TEXT-DECORATION: underline
}
.spons-l:active {
	COLOR: #626262; TEXT-DECORATION: underline
}
.sponsors-box {
	CLEAR: both; BORDER-RIGHT: #bdbdbd 1px solid; BORDER-TOP: #bdbdbd 1px solid; FONT-SIZE: 12px; MARGIN: 10px auto 0px; BORDER-LEFT: #bdbdbd 1px solid; WIDTH: 170px; BORDER-BOTTOM: #bdbdbd 1px solid; FONT-FAMILY: "宋体"
}
.sponsors-box .sponsors-title {
	FONT-SIZE: 12px; BACKGROUND: url(../images/ad-p.gif) repeat-x; WIDTH: 100%; TEXT-INDENT: 10px; LINE-HEIGHT: 21px; BORDER-BOTTOM: #bdbdbd 1px solid; HEIGHT: 21px
}
.sponsors-box .sponsors-body DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sponsors-box .sponsors-body DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sponsors-box .sponsors-body DL {
	COLOR: #626262; TEXT-INDENT: 2px; LINE-HEIGHT: 26px; LIST-STYLE-TYPE: none
}
.sponsors-pic {
	MARGIN: 5px auto 0px; WIDTH: 170px
}
.sponsors-pic IMG {
	MARGIN-BOTTOM: 3px; MARGIN-LEFT: 10px; WIDTH: 150px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 50px; BORDER-BOTTOM-STYLE: none
}
.sponsors-pic OBJECT {
	FLOAT: left; MARGIN-BOTTOM: 3px; MARGIN-LEFT: 10px; WIDTH: 150px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 50px; BORDER-BOTTOM-STYLE: none
}
.spons-link:link {
	COLOR: #000; TEXT-DECORATION: none
}
.spons-link:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.spons-link:hover {
	COLOR: #003897; TEXT-DECORATION: none
}
.spons-link:active {
	COLOR: #003897; TEXT-DECORATION: none
}
.spons-bottom {
	BORDER-RIGHT: #bdbdbd 1px solid; BORDER-TOP: #bdbdbd 1px solid; FONT-SIZE: 12px; FLOAT: right; BORDER-LEFT: #bdbdbd 1px solid; WIDTH: 790px; BORDER-BOTTOM: #bdbdbd 1px solid; HEIGHT: 80px
}
.spons-bottom .spons-title {
	BACKGROUND: url(../images/s-tt.gif) repeat-y; FLOAT: left; WIDTH: 23px; HEIGHT: 80px; TEXT-ALIGN: center
}
.spons-bottom .spons-adver {
	FLOAT: left; MARGIN-LEFT: 3px; WIDTH: 760px; PADDING-TOP: 9px; HEIGHT: 60px
}
.dateadd {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; MARGIN: 10px 0px 0px 8px; COLOR: #000000
}
.allcenter {
	TEXT-ALIGN: center
}
#engine_key_top_nav {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 30px
}
#engine_key_top_nav LI {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; HEIGHT: 40px
}
#engine_key_top_nav LI A {
	BACKGROUND: url(../images/common/tabka_b.gif) 0px -30px; FLOAT: left; WIDTH: 125px; COLOR: #666666; PADDING-TOP: 10px; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#engine_key_top_nav LI A:hover {
	BACKGROUND: url(../images/common/tabka_b.gif); COLOR: #ffffff
}
#engine_key_top_nav LI A#current {
	BACKGROUND: url(../images/common/tabka_b.gif); COLOR: #ffffff
}
.noboder {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.noboder TR TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM: #cbeff8 1px solid; HEIGHT: 28px; BORDER-RIGHT-WIDTH: 0px
}
.bg4 {
	CLEAR: both; PADDING-LEFT: 6px; COLOR: #000000; PADDING-TOP: 6px; HEIGHT: 20px
}
.fontlight {
	FONT-WEIGHT: lighter; FONT-SIZE: 12px
}
.th5 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333333; BORDER-BOTTOM: #cedced 2px solid; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
#Tab2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.Menubox {
	BACKGROUND: url(../images/common/uppic.gif) repeat-x; WIDTH: 100%; LINE-HEIGHT: 28px; HEIGHT: 28px
}
.Menubox01 {
	BACKGROUND: url(../images/common/uppic.gif) repeat-x; WIDTH: 100%; LINE-HEIGHT: 28px; HEIGHT: 28px
}
.Menubox UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.Menubox01 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.Menubox LI {
	DISPLAY: block; FONT-WEIGHT: bold; BACKGROUND: url(../images/common/onpic.gif) repeat-x; BORDER-LEFT: #cccccc 1px solid; WIDTH: 116px; CURSOR: pointer; COLOR: #949694; TEXT-ALIGN: center
}
.Menubox01 LI {
	DISPLAY: block; FONT-WEIGHT: bold; BACKGROUND: url(../images/common/onpic.gif) repeat-x; BORDER-LEFT: #cccccc 1px solid; WIDTH: 116px; CURSOR: pointer; COLOR: #949694; TEXT-ALIGN: center
}
.Menubox LI {
	FLOAT: right
}
.Menubox01 LI {
	FLOAT: left
}
.Menubox LI.hover {
	BORDER-RIGHT: #98aed0 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #98aed0 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(../images/common/downpic.gif) no-repeat; PADDING-BOTTOM: 0px; BORDER-LEFT: #98aed0 1px solid; WIDTH: 116px; COLOR: #1c89cb; LINE-HEIGHT: 27px; PADDING-TOP: 0px; HEIGHT: 27px
}
.Menubox01 LI.hover {
	BORDER-RIGHT: #98aed0 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #98aed0 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(../images/common/downpic.gif) no-repeat; PADDING-BOTTOM: 0px; BORDER-LEFT: #98aed0 1px solid; WIDTH: 116px; COLOR: #1c89cb; LINE-HEIGHT: 27px; PADDING-TOP: 0px; HEIGHT: 27px
}
.Contentbox {
	BORDER-TOP-WIDTH: 1px; CLEAR: both; BORDER-RIGHT: #98aed0 1px solid; MARGIN-TOP: 0px; BORDER-LEFT: #98aed0 1px solid; BORDER-TOP-COLOR: #98aed0; PADDING-TOP: 8px; BORDER-BOTTOM: #98aed0 1px solid; HEIGHT: auto
}
.textads {
	FONT-SIZE: 12px; BACKGROUND: url(../images/01074.gif) no-repeat 1px 8px; FLOAT: right; WIDTH: 300px; COLOR: #fff799; TEXT-INDENT: 20px; LINE-HEIGHT: 24px; PADDING-TOP: 5px; HEIGHT: 24px
}
.yellow-link:link {
	COLOR: #fff799; TEXT-DECORATION: none
}
.yellow-link:visited {
	COLOR: #fff799; TEXT-DECORATION: none
}
.yellow-link:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
.yellow-link:active {
	COLOR: #000; TEXT-DECORATION: underline
}
#Tabka {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 792px; PADDING-TOP: 0px; HEIGHT: 24px
}
#nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 24px
}
#nav LI {
	FONT-SIZE: 12px; FLOAT: left
}
#nav LI A {
	BACKGROUND: url(../images/tabka_b.gif); FLOAT: left; WIDTH: 66px; COLOR: #333333; MARGIN-RIGHT: 4px; PADDING-TOP: 7px; HEIGHT: 17px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#nav LI A:hover {
	BACKGROUND: url(../images/tabka_b.gif) 0px -25px; COLOR: #000000
}
#nav LI A#current {
	BACKGROUND: url(../images/tabka_b.gif) 0px -25px; COLOR: #006633
}
.bblue:link {
	COLOR: #0033ff; TEXT-DECORATION: none
}
.bblue:visited {
	COLOR: #0033ff; TEXT-DECORATION: none
}
.bblue:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
.bblue:active {
	COLOR: #000; TEXT-DECORATION: underline
}
.inlineads {
	BORDER-RIGHT: #c5d6eb 1px solid; BORDER-TOP: #c5d6eb 1px solid; BACKGROUND: #f6fbff; FLOAT: right; OVERFLOW: hidden; BORDER-LEFT: #c5d6eb 1px solid; WIDTH: 453px; BORDER-BOTTOM: #c5d6eb 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 22px
}
#icefable1 DIV {
	FONT-SIZE: 12px; LINE-HEIGHT: 22px; HEIGHT: 22px; TEXT-ALIGN: center
}
#icefable1 DIV A {
	FONT-SIZE: 12px; OVERFLOW: hidden
}
.sponsors-box125 {
	BORDER-RIGHT: #bdbdbd 1px solid; BORDER-TOP: #bdbdbd 1px solid; MARGIN-TOP: 80px; FONT-SIZE: 12px; FLOAT: right; BORDER-LEFT: #bdbdbd 1px solid; WIDTH: 150px; BORDER-BOTTOM: #bdbdbd 1px solid
}
.sponsors-box125-h {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; MARGIN-TOP: 80px; FLOAT: left; BORDER-LEFT: #fff 1px solid; WIDTH: 100px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 100px
}
.sponsors-box125 .sponsors-title {
	FONT-SIZE: 12px; BACKGROUND: url(../images/ad-p.gif) repeat-x; WIDTH: 100%; TEXT-INDENT: 10px; LINE-HEIGHT: 21px; BORDER-BOTTOM: #bdbdbd 1px solid; HEIGHT: 21px
}
.sponsors-box125 .sponsors-body DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sponsors-box125 .sponsors-body DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sponsors-box125 .sponsors-body DL {
	COLOR: #626262; TEXT-INDENT: 5px; LINE-HEIGHT: 26px; LIST-STYLE-TYPE: none
}
.sponsors-box125 .sponsors-pic0403 {
	MARGIN: 5px auto 0px; WIDTH: 150px
}
.sponsors-box125 .sponsors-pic0403 IMG {
	MARGIN-BOTTOM: 2px
}
#outwp {
	MARGIN: 0px auto; WIDTH: 1255px
}
.cnzz-maint {
	FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 990px
}
.Menubox_pay {
	BACKGROUND: url(../images/common/uppic.gif) repeat-x; LINE-HEIGHT: 28px; HEIGHT: 28px
}
.Menubox_pay UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.Menubox_pay LI {
	DISPLAY: block; FONT-WEIGHT: bold; BACKGROUND: url(../images/common/onpic.gif) repeat-x; FLOAT: left; BORDER-LEFT: #cccccc 1px solid; WIDTH: 116px; CURSOR: pointer; COLOR: #949694; TEXT-ALIGN: center
}
.Menubox_pay LI.hover {
	BORDER-RIGHT: #98aed0 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #98aed0 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(../images/common/downpic.gif) no-repeat; PADDING-BOTTOM: 0px; BORDER-LEFT: #98aed0 1px solid; WIDTH: 116px; COLOR: #1c89cb; LINE-HEIGHT: 27px; PADDING-TOP: 0px; HEIGHT: 27px
}
.h3title {
	FONT-WEIGHT: bold; MARGIN: 0px auto; WIDTH: 85%; COLOR: #21334e; LINE-HEIGHT: 36px; BORDER-BOTTOM: #21334e 1px dotted; HEIGHT: 36px
}
.h3body {
	BORDER-RIGHT: #e7e7e7 1px solid; BORDER-TOP: #e7e7e7 1px solid; BACKGROUND: #eaf7fb; MARGIN: 10px auto 0px; BORDER-LEFT: #e7e7e7 1px solid; WIDTH: 80%; COLOR: #21334e; BORDER-BOTTOM: #e7e7e7 1px solid; HEIGHT: 170px
}
.h3body-left {
	BACKGROUND: url(../images/chong_bg.gif) no-repeat right 50%; FLOAT: left; WIDTH: 40%; HEIGHT: 170px
}
.h3body-left P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 40px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 10px; COLOR: #1c89cb; PADDING-TOP: 30px
}
.h3body-left IMG {
	MARGIN-LEFT: 40px
}
.h3body-right {
	FLOAT: right; WIDTH: 50%; HEIGHT: 170px
}
.h3body-right B {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #1c89cb
}
.h3body-right P {
	COLOR: #21334e
}
.h3text {
	MARGIN: 10px auto 0px; WIDTH: 80%; COLOR: #21334e
}
.alert {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.alert TR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.alert TR TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.tips3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; MARGIN: 10px auto 0px; WIDTH: 91%; COLOR: #21334e; LINE-HEIGHT: normal; PADDING-TOP: 10px; BORDER-BOTTOM: #21334e 1px dotted; HEIGHT: auto
}
#mytable2 {
	PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 20px auto 0px; BORDER-LEFT: #fff 1px solid; WIDTH: 94%; PADDING-TOP: 0px
}
.caption#mytable2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; WIDTH: 100%; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#mytable2 TH {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 12px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; BORDER-BOTTOM: #fff 1px solid; LETTER-SPACING: 0px; BACKGROUND-COLOR: #e7ecf3
}
#mytable2 THEAD TH {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 12px; FONT-SIZE: 14px; BACKGROUND: url(../images/common/tab_bg.gif) repeat-x; PADDING-BOTTOM: 8px; COLOR: #fff; PADDING-TOP: 8px; BORDER-BOTTOM: #fff 1px solid; LETTER-SPACING: 0px
}
#mytable2 TD {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 12px; BACKGROUND: #e7ecf3; PADDING-BOTTOM: 6px; LINE-HEIGHT: 20px; PADDING-TOP: 6px; BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: center
}
#mytable2 TD P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#helper {
	BORDER-RIGHT: #d9dada 1px solid; BORDER-TOP: #d9dada 1px solid; BACKGROUND: #f9f9ff; MARGIN: 10px auto; BORDER-LEFT: #d9dada 1px solid; WIDTH: 788px; BORDER-BOTTOM: #d9dada 1px solid; HEIGHT: 700px
}
#helper .picture {
	BACKGROUND: url(../images/helper.jpg) no-repeat center top; MARGIN: 10px auto 0px; WIDTH: 768px; POSITION: relative; HEIGHT: 345px
}
#helper .picture IMG {
	RIGHT: 35px; BOTTOM: 60px; POSITION: absolute
}
#helper .lm {
	MARGIN: 0px auto 10px; WIDTH: 730px
}
#helper .lm01 {
	MARGIN: 0px auto 10px; WIDTH: 730px
}
#helper .lm {
	BACKGROUND: url(../images/helper_line.gif) repeat-x 50% bottom; HEIGHT: 74px
}
#helper .icon01 {
	PADDING-LEFT: 75px; FONT-SIZE: 12px; LINE-HEIGHT: 20px; HEIGHT: 72px
}
#helper .icon02 {
	PADDING-LEFT: 75px; FONT-SIZE: 12px; LINE-HEIGHT: 20px; HEIGHT: 72px
}
#helper .icon03 {
	PADDING-LEFT: 75px; FONT-SIZE: 12px; LINE-HEIGHT: 20px; HEIGHT: 72px
}
#helper .icon01 SPAN {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; COLOR: #000000; LINE-HEIGHT: 20px
}
#helper .icon02 SPAN {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; COLOR: #000000; LINE-HEIGHT: 20px
}
#helper .icon03 SPAN {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; COLOR: #000000; LINE-HEIGHT: 20px
}
#helper .icon01 {
	BACKGROUND: url(../images/helper_icon01.gif) no-repeat
}
#helper .icon01 SPAN {
	MARGIN-TOP: 10px
}
#helper .icon02 {
	BACKGROUND: url(../images/helper_icon02.gif) no-repeat
}
#helper .icon02 SPAN {
	MARGIN-TOP: 10px
}
#helper .icon03 {
	BACKGROUND: url(../images/helper_icon03.gif) no-repeat
}
.new {
	RIGHT: 185px; BACKGROUND: url(/v1/images/common/new.gif) no-repeat 0px 50%; WIDTH: 22px; POSITION: absolute; TOP: -12px; HEIGHT: 11px
}
.topgg {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 790px; PADDING-TOP: 0px
}
.guanggao {
	FLOAT: left; MARGIN-RIGHT: 3px
}
.tabad {
	BORDER-RIGHT: #d9d9d9 1px solid; BORDER-TOP: #d9d9d9 1px solid; FLOAT: left; BORDER-LEFT: #d9d9d9 1px solid; WIDTH: 480px; LINE-HEIGHT: 18px; BORDER-BOTTOM: #d9d9d9 1px solid
}
.ggrit {
	FLOAT: left
}
.txtads {
	BORDER-RIGHT: #d9d9d9 1px solid; BORDER-TOP: #d9d9d9 1px solid; MARGIN-TOP: 8px; FLOAT: left; BORDER-LEFT: #d9d9d9 1px solid; WIDTH: 495px; MARGIN-RIGHT: 0px; BORDER-BOTTOM: #d9d9d9 1px solid; HEIGHT: 56px
}
.txtads-tit {
	BORDER-RIGHT: #d9d9d9 1px solid; BACKGROUND: url(/v1/images/lline.jpg) repeat-y; FLOAT: left; WIDTH: 20px; HEIGHT: 56px; TEXT-ALIGN: center
}
.txtads UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #d9d9d9 1px dotted
}
.txtads LI {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FLOAT: left; WIDTH: 230px; LINE-HEIGHT: 28px; FONT-FAMILY: "宋体"; LIST-STYLE-TYPE: none
}
.red:link {
	COLOR: #fb0505; TEXT-DECORATION: underline
}
.red:visited {
	COLOR: #fb0505; TEXT-DECORATION: underline
}
.red:hover {
	COLOR: #2566a6; TEXT-DECORATION: none
}
.red:active {
	COLOR: #2566a6; TEXT-DECORATION: none
}
.adlink:link {
	COLOR: #0033ff; TEXT-DECORATION: none
}
.adlink:visited {
	COLOR: #0033ff; TEXT-DECORATION: none
}
.adlink:hover {
	COLOR: #0033ff; TEXT-DECORATION: underline
}
.adlink:active {
	COLOR: #0033ff; TEXT-DECORATION: none
}
.yd {
	CLEAR: both
}
.new_title { height:28px; background:url(/v1/images/tit-bg.gif) repeat-x; font-size:14px; font-weight:bold; padding-left:10px; padding-right:5px; line-height:28px; border-left:1px solid #ccc; border-right:1px solid #ccc; }
