div.gridbox_dhx_custom .xhdr{
	background-color: #E2ECF8;
	border-top: 1px solid #A4BED4;
	border-bottom: 1px solid #A4BED4;
    left: 1px;
}

div.gridbox_dhx_custom table.hdr tr{
	background-color: #E2ECF8;
}
body:nth-of-type(1) div.gridbox_dhx_custom table.hdr tr{
	background-color: #E2ECF8;
}

div.gridbox_dhx_custom table.obj tr td{
	font-family:Microsoft YaHei,Lucida Grande,Helvetica,Tahoma,Arial,sans-serif;
	font-size:13px;
	border-width:0px 0px 0px 1px;
	padding-right:4px;
	padding-left:4px;
	border-color: #A4BED4;
}
div.gridbox_dhx_custom table.obj tr td:first-child{
	border-left-width: 0px;
}
div.gridbox_dhx_custom table.hdr td div.hdrcell{
	width:auto;
	padding-left:0px;
	text-align: center;
}
html > body /**/ div.gridbox_dhx_custom table.hdr td div.hdrcell{
	width=100%;
}
div.gridbox_dhx_custom table.hdr{
	/*border-collapse: collapse;*/
}
div.gridbox_dhx_custom table.hdr td {
	border-width: 0px 1px 0px 0px;
	border-color : #A4BED4 #A4BED4 #A4BED4 #A4BED4;
	background-color:transparent;
	
	font-family:Microsoft YaHei,Lucida Grande,Helvetica,Tahoma,Arial,sans-serif;
	font-size:13px;
	color:black;
	vertical-align:middle;
	text-align: center;
}
div.gridbox_dhx_custom table.hdr tr td:first-child{
	border-left-width:1px;
}
div.gridbox_dhx_custom {
  /*border-bottom:1px solid #A4BED4;xlj*/
  overflow: hidden;
}
div.gridbox table.obj tr  td{
    padding-top:3px;
    padding-bottom:3px;
}
* html .gridbox .obj td{
    height:auto;
    padding-top:3px;
    padding-bottom:3px;
}
div.gridbox table.obj.row20px tr td{
    /*padding-top:0px;
    padding-bottom:0px;*/
    padding-top:3px;
    padding-bottom:3px;
}

div.gridbox table.obj tr  td.editable{
    padding:0px;
}
div.gridbox table.obj tr  td.editable div.treegrid_cell{
	padding-left:4px;
	padding-top:1px;
}
div.gridbox_dhx_custom table.obj tr.rowselected{
	background-color:#FFF1CC;
}
div.gridbox_dhx_custom table.obj tr.rowselected td{
	background-color:#FFF1CC;
	
}
div.gridbox_dhx_custom table.obj.row20px tr.rowselected{
	.background-color:#FFF1CC;
	background-repeat:repeat-x;
	background-position:0px 0px;	
	/*background-image:url(../images/rowselected.png);*/
}
div.gridbox_dhx_custom table.obj.row20px tr.rowselected td{
	background-color:#FFF1CC;
	background-repeat:repeat-x;
	background-position:0px 0px;	
	/*background-image:url(../images/rowselected.png);*/
}

div.gridbox_dhx_custom table.obj tr.rowselected td.cellselected {
	background-color:#FFF1CC;
}
div.gridbox_dhx_custom .odd_dhx_custom{
	background-color:#D3EFFB;
}
div.gridbox_dhx_custom .ev_dhx_custom{
	background-color:#FFFDDE;
}
.dhx_combo_select, .gridbox_dhx_custom .dhx_combo_edit, .gridbox_dhx_custom .dhx_textarea{
    font-family:Microsoft YaHei,Lucida Grande,Helvetica,Tahoma,Arial,sans-serif;
    font-size:13px;
    line-height:24px;
}
.gridbox_dhx_custom .dhx_combo_edit{
	padding:0px;
}
.gridbox_dhx_custom .dhx_sub_row {
	background-color:transparent;
}

div.gridbox table.hdr td{
	padding-top: 6px;
	padding-bottom: 6px;
}
div.gridbox .objbox{
	scrollbar-face-color: #E3EBF8; 
	scrollbar-shadow-color: #c6d8f0; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #E3EBF8; 
	scrollbar-darkshadow-color:#d8e4f3; 
	scrollbar-track-color: #FFFFFF; 
	scrollbar-arrow-color: #9bb8de;
}
div.gridbox_dhx_custom table.obj.row20px tr.rowselected td{
	background-repeat:repeat-x;
	background-position:0px 0px;	
	background-image:url(imgs/grid_rowselected.png);
	background-color:#ffe3a8;
}