@charset "utf-8";
body { margin:0 auto; font-size:12px;}
img{ border:0}

.login{ width:1000px; margin:0 auto;}
.login1{ font-size:14px; margin-left:45px; margin-bottom:30px;}
.login4{ width:200px; height:16px;line-height:16px;border: 1px solid #93AFBA}
.login5{ width:100px; height:22px; line-height:22px;border: 1px solid #93AFBA}
.login6{ width:515px; height:30px; line-height:20px; color:#959595; text-align:center;}
.login7{ color:#36c; font-weight:bold;}
.login8{ background:url(../img/login/dengl5.jpg) repeat-y;}
.login9{ margin-top:30px; font-family:Arial, Helvetica, sans-serif}
.login10{ background:url(../img/login/dengl10.jpg) no-repeat 3px 11px; padding-left:15px; text-align:left; color:#999; font-family:Arial, Helvetica, sans-serif}
.login11{ margin-left:5px;}
.login12{ color:#36c; text-decoration:none;}
.login12:hover{ text-decoration:underline;}
.login13{ line-height:40px; color:#36c;_padding-top:10px;_height:30px;}
.login14{ vertical-align:middle;}
.login15{ color:#000;}
.login16{ width:100%; background-color:#f7f7f7; color:#a5a5a5; height:80px; text-align:center; font-family:Arial, Helvetica, sans-serif; line-height:60px; margin-top:125px;}
.login17{ padding-left:15px; text-align:left; color:#999; font-family:Arial, Helvetica, sans-serif}
.text_field7{border: 1px solid #93AFBA; }