.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}


a.node:link{color:#000000; text-decoration:none;}
a.node:visited{color:#000000; text-decoration:none;}
a.node:hover{color:#3399FF; text-decoration:underline;}
a.node:active{color:#3399FF; text-decoration:underline;}

.menu_right{width:50px;margin-left:15px;}
.menu_right a{padding-left:5px; }
.menu_right a:link{color:#919faa;text-decoration:none;}
.menu_right a:visited{color:#919faa; text-decoration:none;}
.menu_right a:hover{color:#005dd1;text-decoration:underline;}
.menu_right a:active{color:#005dd1;text-decoration:underline;}

.no_float{display:none;}
