@charset "utf-8";
.hsp_font{ font-size:12px; font-family:"微软雅黑"; color:#fff;}
.hsp_left{ float:left; display:inline;}
.hsp_right{ float:right; display:inline;}

.hsp_mar1{ margin-left:10px;}
.hsp_mar2{ margin-left:20px;}
.hsp_mar3{ margin-right:10px;}

.hsp_top1{ width:100%; height:90px; background-color:#8eafbb;}
.hsp_top2{width:145px; height:26px; line-height:26px; background:none; border:0px;}
.hsp_top3{ background:url(../img/top3.jpg) no-repeat;}

.hsp{ color:#fff; text-decoration:none;}
.hsp:hover{ text-decoration:underline;}
.top_a{ color:#fff; text-decoration:none;}
.top_a:hover{ text-decoration:underline;}

.hsp_xx{ list-style:none; height:32px;float: right;}
.hsp_xx li{ width:104px; height:32px; float:left; line-height:32px; text-align:center; color:#6ba3b6; font-weight:bold;cursor: pointer;}
.hsp_li1{ background:url(../img/xx3.gif) no-repeat;}
.hsp_li2{ background:url(../img/xx2.gif) no-repeat;}
.hsp_li3{ background:url(../img/xx1.gif) no-repeat;}
.hsp_xxhover{ font-size:15px; background:url(../img/xxhover.gif) no-repeat; color:#075f7e; display:block; width:104px; height:32px;}
.hsp_font2 {color:#f00;}
