<?xml version="1.0" encoding="UTF-8"?>
<rows>
	#set($num = 0)
	#foreach($p in $Patientlist)
	#set($num = $num +1)
	<row id="$num" >
		<cell >$num</cell>
 		<cell>$!p.patname</cell> 	
 		#if($p.bdate!="")
		<cell>在检</cell>
		#else
		<cell>未检</cell>
		#end 
 		<cell>0/20</cell> 
		<cell>$!p.pexamid</cell> 
		<cell>$!p.examid</cell> 
	</row>
	#end
</rows>