<?xml version="1.0" encoding="UTF-8"?>
<rows>
	#foreach($show in $showList)
	<row id="$show.get("hosnum");$show.get("itemstypeid")">
		<cell type="ch"></cell>
		
		<cell >$!show.get("itemstypename")</cell>
		
		<cell >$!show.get("sn")</cell>
	</row>
	#end
</rows>